<div class="card">
  <div class="card-header bg-light py-3">
    <!-- <div class="fw-light fs-4">Полезные контакты</div> -->
    <!-- <a class="btn btn-outline-success btn-sm" href="#" role="button" data-bs-toggle="modal" data-bs-target="#modalSpaceDocs"><i class="bi bi-plus-lg me-1"></i>Добавить документ</a> -->
    <!-- <div class="text-success text-nowrap">ID: 00001-01</div> -->
    <form action="" class="w-sm-50 w-lg-25">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" placeholder="ID или ФИО">
        <button class="btn btn-outline-primary" type="submit" title="Найти"><i class="bi bi-search"></i></button>
        <button class="btn btn-outline-danger" type="reset" title="Сбросить"><i class="bi bi-x-lg"></i></button>
      </div>
    </form>
    <div class="table-responsive mt-3" id="result-search">
      <p class="mb-1 text-secondary text-small">Результаты поиска</p>
      <table class="table small align-middle mb-0">
        <!-- <thead>
          <tr>
            <th scope="col" width="50" class="text-center">#</th>
            <th scope="col">ФИО/ID</th>
            <th scope="col">Телефон/E-mail</th>
          </tr>
        </thead> -->
        <tbody>
          <tr>
            <td width="50" class="text-center">
              <a href="#" class="btn btn-outline-success btn-xs" role="button"><i class="bi bi-check-lg" title="Предоставить доступ"></i></a>
            </td>
            <td>
              Иванов Иван Иванович
              <span class="badge bg-secondary bg-opacity-10 text-dark fw-normal">id:&nbsp;00001</span>
            </td>
            <td>
              <a href="tel:+79265568904" class="text-nowrap me-2">8(926)556-89-04</a>
              <a href="mailto:mail@mail.ru" class="text-nowrap">mail@mail.ru</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="mt-2 mb-0 text-secondary text-small">Поиск не дал результатов</p>
  </div>
  <div class="card-body">
    <p class="text-secondary fw-bold mb-2">Доступ предоставлен</p>
    <div class="table-responsive">
      <table class="table small align-middle">
        <thead>
          <tr>
            <th scope="col" width="50" class="text-center">#</th>
            <th scope="col">ФИО/ID</th>
            <th scope="col" class="text-nowrap">Телефон/E-mail</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">
              <a href="#" class="btn btn-outline-danger btn-sm" role="button" title="Удалить доступ"><i class="bi bi-x-lg"></i></a>
              <!-- <div class="btn-group btn-group-sm" role="group">
                <a href="#" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalSpaceProfile"><i class="bi bi-pencil" title="Редактировть"></i></a>
                <a href="#" class="btn btn-outline-danger" title="Удалить"><i class="bi bi-x-lg"></i></a>
              </div> -->
            </td>
            <td>
              <div class="mb-1">
                Иванов Иван Иванович
                <div class="badge bg-secondary bg-opacity-10 text-dark fw-normal">id:&nbsp;00001</div>
              </div>
            </td>
            <td>
              <div class="text-nowrap mb-1"><a href="tel:+79265568904">8(926)556-89-04</a></div>
              <div class="text-nowrap mb-1"><a href="mailto:mail@mail.ru">mail@mail.ru</a></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
