<div class="card">
  <div class="card-header bg-light d-flex flex-wrap align-items-center justify-content-between py-3">
    <!-- <div class="fw-light fs-4">Полезные контакты</div> -->
    <a class="btn btn-outline-success btn-sm" href="#" role="button" data-bs-toggle="modal" data-bs-target="#modalSpaceDocs"><i class="bi bi-plus-lg me-1"></i>Добавить документ</a>
    <!-- <div class="text-success text-nowrap">ID: 00001-01</div> -->
  </div>
  <div class="card-body">

    <div class="table-responsive mt-2">
      <table class="table align-middle small">
        <thead>
          <tr>
            <th scope="col" width="50" class="text-center">#</th>
            <th scope="col">Название документа</th>
            <th scope="col" class="text-nowrap">Документ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">
              <div class="btn-group btn-group-sm" role="group">
                <a href="#" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalSpaceDocs"><i class="bi bi-pencil" title="Редактировть"></i></a>
                <a href="#" class="btn btn-outline-danger" title="Удалить"><i class="bi bi-x-lg"></i></a>
              </div>
            </td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
            <td><a href="#" target="_blank">name_document.pdf</a></td>
          </tr>
          <tr>
            <td class="text-center">
              <div class="btn-group btn-group-sm" role="group">
                <a href="#" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalSpaceDocs"><i class="bi bi-pencil" title="Редактировть"></i></a>
                <a href="#" class="btn btn-outline-danger" title="Удалить"><i class="bi bi-x-lg"></i></a>
              </div>
            </td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
            <td><a href="#" target="_blank">name_document.pdf</a></td>
          </tr>
          <tr>
            <td class="text-center">
              <div class="btn-group btn-group-sm" role="group">
                <a href="#" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalSpaceDocs"><i class="bi bi-pencil" title="Редактировть"></i></a>
                <a href="#" class="btn btn-outline-danger" title="Удалить"><i class="bi bi-x-lg"></i></a>
              </div>
            </td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
            <td><a href="#" target="_blank">name_document.pdf</a></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
