<div class="accordion mb-4" id="accordionProfileForm">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button bg-light fw-light fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProfile_01" aria-expanded="true" aria-controls="collapseProfile_01">
        Личные данные
      </button>
    </h2>
    <div id="collapseProfile_01" class="accordion-collapse collapse show" data-bs-parent="#accordionProfileForm">
      <div class="accordion-body">
        <div class="row mb-3">
          <div class="col-sm-3 col-lg-2 mb-2 mb-sm-0 text-center">
            <img src="img/avatar.png" class="img-fluid" alt="avatar">
          </div>
          <div class="col-sm text-center text-sm-start">
            <div class="card-text mb-2">
              <p class="text-secondary fw-light mb-1">Фамилия Имя Отчество:</p>
              <div class="fs-6">Иванов Иван Иванович</div>
            </div>
            <div class="card-text mb-2">
              <p class="text-secondary fw-light mb-1">Дата рождения:</p>
              <div class="fs-6">15.10.1981 г.</div>
            </div>
            <div class="card-text mb-2">
              <p class="text-secondary fw-light mb-1">Телефон:</p>
              <div class="fs-6">+7 (926) 133-45-77</div>
            </div>
            <div class="card-text mb-2">
              <p class="text-secondary fw-light mb-1">E-mail:</p>
              <div class="fs-6">mail@mail.ru</div>
            </div>
          </div>
          <div class="col-lg">
            <div class="card-text mb-2">
              <p class="text-secondary fw-light mb-1">О себе:</p>
              <div class="fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis numquam rerum nihil quidem vitae. Libero modi voluptates sequi voluptatem labore doloribus laudantium consequatur commodi beatae!</div>
            </div>
          </div>
        </div>
        <a href="#" class="btn btn-outline-success btn-sm" role="button" data-bs-toggle="modal" data-bs-target="#modalUserInfo"><i class="bi bi-pencil me-1"></i>Изменить данные</a>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button bg-light fw-light fs-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDogovor_02" aria-expanded="false" aria-controls="collapseDogovor_02">
        Собственность
      </button>
    </h2>
    <div id="collapseDogovor_02" class="accordion-collapse collapse" data-bs-parent="#accordionProfileForm">
      <div class="accordion-body">
        Информация о собственности, с перечислением арендаторов и инфой о них
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button bg-light fw-light fs-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDogovor_03" aria-expanded="false" aria-controls="collapseDogovor_03">
        Аренда
      </button>
    </h2>
    <div id="collapseDogovor_03" class="accordion-collapse collapse" data-bs-parent="#accordionProfileForm">
      <div class="accordion-body">
        Информация об объектах в аренде, инфой о собственниках и/или управляющих
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button bg-light fw-light fs-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDogovor_04" aria-expanded="false" aria-controls="collapseDogovor_04">
        Управление
      </button>
    </h2>
    <div id="collapseDogovor_04" class="accordion-collapse collapse" data-bs-parent="#accordionProfileForm">
      <div class="accordion-body">
        Информация об объектах в управлении, инфой о собственнике и арендаторах
      </div>
    </div>
  </div>
</div>