<div class="accordion mb-4" id="accordionProfileForm">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button bg-light fw-light fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProfile_01" aria-expanded="true" aria-controls="collapseProfile_01">
        Личные данные
      </button>
    </h2>
    <div id="collapseProfile_01" class="accordion-collapse collapse show" data-bs-parent="#accordionProfileForm">
      <div class="accordion-body">
        <a href="#" class="btn btn-success btn-sm" role="button" data-bs-toggle="modal" data-bs-target="#modalSpaceProfile"><i class="bi bi-plus-lg me-1"></i>Добавить данные</a>
        <div class="row align-items-center mb-3">
          <div class="col-md-3 col-lg-2 text-center text-md-start mb-2 mb-lg-0">
            <img src="img/avatar.png" class="img-fluid" alt="avatar" style="max-width: 120px; object-fit: contain;">
          </div>
          <div class="col-md col-lg-5 col-xl-4 mb-2 mb-lg-0">
            <div class="d-flex">
              <div>
                <p class="mb-1"><span class="text-secondary fw-light text-nowrap me-1">ФИО / ID:</span>Иванов Иван Иванович<span class="badge bg-secondary bg-opacity-10 text-dark fw-normal ms-1">id:&nbsp;00001</span></p>
                <p class="mb-1"><span class="text-secondary fw-light text-nowrap me-1">Дата рождения:</span>15.10.1981 г.</p>
                <p class="mb-1"><span class="text-secondary fw-light text-nowrap me-1">Доход:</span>150000 руб.</p>
                <p class="mb-0"><span class="text-secondary fw-light text-nowrap me-1">Телефон / E-mail:</span>
                  <a href="tel:+79265568904" class="text-nowrap fs-6 me-2">8(926)556-89-04</a>
                  <a href="mailto:mail@mail.ru" class="text-nowrap fs-6">mail@mail.ru</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg">
            <div class="card-text mb-2">
              <p class="text-secondary fw-light mb-1">О себе:</p>
              <div class="fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis numquam rerum nihil quidem vitae. Libero modi voluptates sequi voluptatem labore doloribus laudantium consequatur commodi beatae!</div>
            </div>
          </div>
        </div>
        <a href="#" class="btn btn-outline-success btn-sm" role="button" data-bs-toggle="modal" data-bs-target="#modalSpaceProfile"><i class="bi bi-pencil me-1"></i>Изменить данные</a>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button bg-light fw-light fs-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDogovor_02" aria-expanded="false" aria-controls="collapseDogovor_02">
        Соарендаторы<span class="text-info text-small ms-2">Только для арендаторов!!!</span>
      </button>
    </h2>
    <div id="collapseDogovor_02" class="accordion-collapse collapse" data-bs-parent="#accordionProfileForm">
      <div class="accordion-body">
        <a href="#" class="btn btn-success btn-sm mb-3" role="button" data-bs-toggle="modal" data-bs-target="#modalSpaceProfile"><i class="bi bi-plus-lg me-1"></i>Добавить</a>
        <div class="row align-items-center border-bottom text-small py-2 mb-3">
          <div class="col-sm-2 col-lg-1 mb-2 mb-sm-0">
            <div class="btn-group btn-group-sm" role="group">
              <a href="#" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalSpaceProfile"><i class="bi bi-pencil" title="Редактировть"></i></a>
              <a href="#" class="btn btn-outline-danger" title="Удалить"><i class="bi bi-x-lg"></i></a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3 mb-2 mb-lg-0">
            <div class="d-flex">
              <img src="img/avatar.png" class="img-fluid me-2" alt="avatar" style="max-width: 70px; object-fit: contain;">
              <div>
                <p class="mb-1">Иванов Иван Иванович&nbsp;<span class="badge bg-secondary bg-opacity-10 text-dark fw-normal">id:&nbsp;00001</span></p>
                <p class="mb-1"><span class="text-secondary text-nowrap me-1">Дата рождения:</span>15.10.1981 г.</p>
                <p class="mb-0"><span class="text-secondary text-nowrap me-1">Доход:</span>150000 руб.</p>
              </div>
            </div>
          </div>
          <div class="col-sm col-lg-2 mb-2 mb-sm-0">
            <div class="d-flex flex-row flex-md-column">
              <div class="text-nowrap mb-md-1 me-2 me-md-0"><a href="tel:+79265568904">8(926)556-89-04</a></div>
              <div class="text-nowrap"><a href="mailto:mail@mail.ru">mail@mail.ru</a></div>
            </div>
          </div>
          <div class="col-lg">
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis numquam rerum nihil quidem vitae. Libero modi voluptates sequi voluptatem labore doloribus laudantium consequatur commodi beatae!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button bg-light fw-light fs-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDogovor_03" aria-expanded="false" aria-controls="collapseDogovor_03">
        Гаранты<span class="text-info text-small ms-2">Только для арендаторов!!!</span>
      </button>
    </h2>
    <div id="collapseDogovor_03" class="accordion-collapse collapse" data-bs-parent="#accordionProfileForm">
      <div class="accordion-body">
        <a href="#" class="btn btn-success btn-sm mb-3" role="button" data-bs-toggle="modal" data-bs-target="#modalSpaceProfile"><i class="bi bi-plus-lg me-1"></i>Добавить</a>
        <div class="row align-items-center border-bottom text-small py-2 mb-3">
          <div class="col-sm-2 col-lg-1 mb-2 mb-sm-0">
            <div class="btn-group btn-group-sm" role="group">
              <a href="#" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalSpaceProfile"><i class="bi bi-pencil" title="Редактировть"></i></a>
              <a href="#" class="btn btn-outline-danger" title="Удалить"><i class="bi bi-x-lg"></i></a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3 mb-2 mb-lg-0">
            <div class="d-flex">
              <img src="img/avatar.png" class="img-fluid me-2" alt="avatar" style="max-width: 70px; object-fit: contain;">
              <div>
                <p class="mb-1">Иванова Светлана Владимировна&nbsp;<span class="badge bg-secondary bg-opacity-10 text-dark fw-normal">id:&nbsp;00002</span></p>
                <p class="mb-1"><span class="text-secondary text-nowrap me-1">Дата рождения:</span>27.12.1981 г.</p>
                <p class="mb-0"><span class="text-secondary text-nowrap me-1">Доход:</span>100000 руб.</p>
              </div>
            </div>
          </div>
          <div class="col-sm col-lg-2 mb-2 mb-sm-0">
            <div class="d-flex flex-row flex-md-column">
              <div class="text-nowrap mb-md-1 me-2 me-md-0"><a href="tel:+79265568904">8(926)556-89-04</a></div>
              <div class="text-nowrap"><a href="mailto:mail@mail.ru">mail@mail.ru</a></div>
            </div>
          </div>
          <div class="col-lg">
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis numquam rerum nihil quidem vitae. Libero modi voluptates sequi voluptatem labore doloribus laudantium consequatur commodi beatae! Quis numquam rerum nihil quidem vitae.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>