.card-object {
    margin-bottom: 1.5rem;

    .card-img-object {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media (max-width: 575px) {
            max-height: 300px;
          }
    }

    .card-object-content {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        padding-bottom: 1rem;
        height: 100%;
    }

    .card-title {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem 1rem 1rem;
        border-bottom: 1px solid #dee2e6;

        a.h4 {
            font-weight: lighter;
            &:hover {
              color: #6c757d;
            }
        }
    }

    .card-text {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0.5rem;
    }

    .card-object-footer {
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem 0 1rem;
        border-top: 1px solid #dee2e6;
        justify-content: space-between;

        @media (min-width: 576px) {
            flex-direction: row;
            align-items: center;
        }
    }

    .alternative-content {
        padding: 1.5rem 1rem 1rem 1rem;
    }

    .card-object-collapse {
        padding: 1.5rem 1rem 1rem 1rem;
        border-top: 1px solid #dee2e6;
    }

    .card-object-badge {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0.5rem;

        @media (min-width: 576px) {
            flex-direction: row;
        }

        .badge-item {
            padding: 0.25rem 0.5rem;
            border-radius: 0.375rem;
            font-size: 0.875rem;
            margin-right: 0.25rem;
            margin-bottom: 0;

            &:hover {
                opacity: 0.8;
            }

            @media (max-width: 575px) {
                margin-bottom: 0.25rem;
            }
        }
    }

    .table {
      vertical-align: middle;
        th {
            font-weight: 600;
            vertical-align: middle;
        }
        .small-picture {
          width: 100px;
        }
    }

    .nav-tabs {
        .nav-link {
            color: #0462B1;

            &:hover {
                color: #0a58ca;
            }
        }
    }
}


/*.vertical-menu {
    z-index: 2;

    @media (max-width: 991px) {
        background-color: rgba(1, 63, 115, 1);
        position: sticky;
        top: 0;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    }

    .nav-right-main {
        position: sticky;
        top: 0;
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;

        @media (max-width: 991px) {
            padding-top: 0.5rem;
        }

        .nav-link {
            // background-color: rgba(1, 63, 115, 1);
            background: -webkit-linear-gradient(-137deg, #0066cc 28%, #0356a8 72%);
            background: -moz-linear-gradient(-137deg, #0066cc 28%, #0356a8 72%);
            background: -o-linear-gradient(-137deg, #0066cc 28%, #0356a8 72%);
            background: -ms-linear-gradient(-137deg, #0066cc 28%, #0356a8 72%);
            background: linear-gradient(227deg, #0066cc 28%, #0356a8 72%);
            padding: 1rem;
            color: #A9B0C3;
            margin-bottom: 0.5rem;
            -o-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);

            @media (max-width: 991px) {
                background: rgba(1, 63, 115, 1);
                padding: 0.5rem;
                margin-bottom: 0;
                box-shadow: none;
            }

            &:hover {
                box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
                -o-transform: translateX(10px);
                -ms-transform: translateX(10px);
                -moz-transform: translateX(10px);
                -webkit-transform: translateX(10px);
                transform: translateX(10px);
                background-color: rgba(35, 89, 133, 1);
                color: #fff;

                @media (max-width: 991px) {
                    transform: none;
                    box-shadow: none;
                }
            }
        }

        .nav-link.active {
            font-weight: bold;
            color: #fff;

            &:hover {
                transform: none;
                background-color: rgba(35, 89, 133, 1);
            }
        }
    }
}*/
