.compact-view {
  main {
    .object-status-title {
      margin-bottom: 0.5rem;
      h5 {
        font-weight: bold;
        color: rgba(108, 117, 125, 1);
      }
    }
  }
  .card-object {
    margin-bottom: 1rem;
    .fs-4 {
      font-size: 75%;
    }
    .card-object-content {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    .card-title {
      padding: 0 0.5rem 0.5rem 0.5rem;

      h5 {
        font-weight: lighter;
      }
    }
    .card-body {
      padding: 0.5rem;
    }
    .card-text {
      font-size: 0.875rem;;
    }
    .card-object-footer {
      padding: 0.5rem 0.5rem 0 0.5rem;
      border-top: none;
    }
    .card-object-badge {
      // display: flex;
      // flex-wrap: wrap;
      margin-bottom: 0.25rem;

      // @media (min-width: 576px) {
      //   flex-direction: row;
      // }

      .badge-item {
        padding: 0.15rem 0.3rem;
        border-radius: 0.3rem;
        font-size: 0.75rem;
        margin-right: 0.2rem;
        margin-bottom: 0;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
