<div class="card-body">
  <div class="table-responsive mt-2">
    <table class="table table-light small">
      <thead>
        <tr>
          <th scope="col">Дата</th>
          <th scope="col">Идентификатор</th>
          <th scope="col">Комментарий</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12.05.2022</td>
          <td>Василий Иванович, кв. 29</td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet numquam, ad explicabo nam atque nobis
            aperiam nemo minus quae eum error rerum. Modi in maxime aliquid animi, ipsum itaque aperiam.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
