<div class="card-body">
  <div id="generalInfo" class="bg-light small mt-2 mb-4">
    <div class="border-bottom">
      <div class="row p-2">
        <div class="col-md-4 fw-semibold">
          Название объекта
        </div>
        <div class="col-sm">
          Квартира на Юбилейной
        </div>
      </div>
    </div>
    <div class="border-bottom">
      <div class="row p-2">
        <div class="col-md-4 fw-semibold">
          Адрес объекта
        </div>
        <div class="col-sm">
          Московская обл., г. Подольск, Юбилейная площадь, д. 5, 18
        </div>
      </div>
    </div>
    <div class="border-bottom">
      <div class="row p-2">
        <div class="col-md-4 fw-semibold">
          Этаж / подъезд
        </div>
        <div class="col-sm">
          7 / 3
        </div>
      </div>
    </div>
    <div class="border-bottom">
      <div class="row p-2">
        <div class="col-md-4 fw-semibold">
          Кол-во комнат / площадь
        </div>
        <div class="col-sm">
          1 / 40 м<sup>2</sup>
        </div>
      </div>
    </div>
    <div class="border-bottom">
      <div class="row p-2">
        <div class="col-md-4 fw-semibold">
          Стоимость аренды
        </div>
        <div class="col-sm">
          25 000 руб.
        </div>
      </div>
    </div>
    <div class="border-bottom">
      <div class="row p-2">
        <div class="col-md-4 fw-semibold">
          Описание
        </div>
        <div class="col-sm">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti placeat nihil laboriosam natus nisi ut
          consequuntur quo aliquam sapiente exercitationem quod, assumenda expedita distinctio a odit dolore, obcaecati
          facere cum?
        </div>
      </div>
    </div>
    <div class="border-bottom">
      <div class="row p-2">
        <div class="col-md-4 fw-semibold">
          Удобства
        </div>
        <div class="col-sm">
          <div class="card-object-badge">
            <span class="badge-item bg-secondary bg-opacity-10">Интернет</span>
            <span class="badge-item bg-secondary bg-opacity-10">Мебель на кухне</span>
            <span class="badge-item bg-secondary bg-opacity-10">Телевизор</span>
            <span class="badge-item bg-secondary bg-opacity-10">Холодильник</span>
            <span class="badge-item bg-secondary bg-opacity-10">Стиральная машина</span>
            <span class="badge-item bg-secondary bg-opacity-10">Можно с животными</span>
            <span class="badge-item bg-secondary bg-opacity-10">Можно с детьми</span>
          </div>
        </div>
      </div>
    </div>
    <div class="border-bottom">
      <div class="row p-2">
        <div class="col-md-4 fw-semibold">
          Доступ к просмотру
        </div>
        <div class="col-sm">
          <div class="card-object-badge">
            <span class="badge-item bg-secondary bg-opacity-10">Фотоотчёты</span>
            <span class="badge-item bg-secondary bg-opacity-10">Имущество в квартире</span>
            <span class="badge-item bg-secondary bg-opacity-10">Полезные контакты</span>
            <span class="badge-item bg-secondary bg-opacity-10">Соседи</span>
          </div>
        </div>
      </div>
    </div>
    <div class="border-bottom">
      <div class="row p-2">
        <div class="col-md-4 fw-semibold">
          Управляющий, ID
        </div>
        <div class="col-sm">
          Петров Николай Алексеевич, ID 00023
        </div>
      </div>
    </div>
  </div>
  <!-- <a href="photo-report-detail.html" class="btn btn-outline-success btn-sm mb-3"><i
      class="bi bi-plus-lg me-1"></i>Добавить
    фото</a> -->
  <div id="fotosObject">
    <div class="row row-cols-2 row-cols-md-3 row-cols-xl-4 g-4">
      <div class="col">
        <div class="card h-100">
          <a href="photo-report-detail.html" title="Изменить фото">
            <img src="img/object1.jpg" class="card-img-top" alt="foto">
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <a href="photo-report-detail.html" title="Изменить фото">
            <img src="img/object2.jpg" class="card-img-top" alt="foto">
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <a href="photo-report-detail.html" title="Изменить фото">
            <img src="img/object3.jpg" class="card-img-top" alt="foto">
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <a href="photo-report-detail.html" title="Добавить фото">
            <img src="img/logo-gray-256.png" class="card-img-top" alt="foto">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>