<div class="card-body">
  <!-- <p class="text-secondary"><i class="bi bi-info-circle text-orange me-2"></i>Перед настройкой уведомлений создайте
    список типовых уведомлений</p>
  <a class="btn btn-outline-success btn-sm mb-2" data-bs-toggle="modal" data-bs-target="#modalAddNotice"><i
      class="bi bi-plus-lg me-1"></i>Добавить</a> -->
  <div class="d-flex align-items-center justify-content-between mb-2">
    <a class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#modalAddNotice"><i
        class="bi bi-plus-lg me-1"></i>Добавить</a>
    <a href="all-notifications.html" class="btn btn-outline-primary btn-sm">Все уведомления<i
        class="bi bi-arrow-right ms-1"></i></a>
  </div>
  <!-- <a href="#" class="btn btn-outline-secondary btn-sm mb-2" data-bs-toggle="modal" data-bs-target="#noticeList"><i
      class="bi bi-list me-1"></i>Список уведомлений</a> -->
  <div class="table-responsive mt-2">
    <table class="table table-light align-middle small">
      <thead>
        <tr>
          <th scope="col" width="100" class="text-center">#</th>
          <th scope="col">Дата</th>
          <th scope="col">Периодичность</th>
          <th scope="col">Тема</th>
          <th scope="col">Текст</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group">
              <a href="#" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalAddNotice"><i
                  class="bi bi-pencil" title="Редактировть"></i></a>
              <a href="#" class="btn btn-outline-danger" title="Удалить"><i class="bi bi-x-lg"></i></a>
            </div>
          </td>
          <td class="text-nowrap">12.06.2022</td>
          <td>ежемесячно</td>
          <td>Оплата аренды</td>
          <!-- <td>
            <p class="mb-1">ежемесячно</p>
            <small class="text-secondary">01.01.2022</small>
          </td> -->
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam cumque quo voluptatem dolores pariatur
            voluptatum modi.</td>
        </tr>
        <tr>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group">
              <a href="#" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalAddNotice"><i
                  class="bi bi-pencil" title="Редактировть"></i></a>
              <a href="#" class="btn btn-outline-danger" title="Удалить"><i class="bi bi-x-lg"></i></a>
            </div>
          </td>
          <td class="text-nowrap">12.06.2022</td>
          <td>ежеквартально</td>
          <td>Показания счётчиков</td>
          <!-- <td>
            <p class="mb-1">ежеквартально</p>
            <small class="text-secondary">01.01.2022 — 30.03.2023</small>
          </td> -->
          <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, enim?</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
