<div class="card-body">
  <div class="d-flex flex-wrap justify-content-between mb-2">
    <div class="mb-2 mb-sm-0">
      <a href="#" class="btn btn-outline-success btn-sm" target="_blank" role="button"><i
          class="bi bi-plus-lg me-1"></i>Онлайн-оплата</a>
      <a href="#" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#modalPaymentInvoice"
        role="button"><i class="bi bi-plus-lg me-1"></i>Оплата по счёту</a>
    </div>
  </div>

  <!-- <a class="btn btn-outline-success btn-sm mb-2" data-bs-toggle="collapse" href="#formAddDocs" role="button"
    aria-expanded="false" aria-controls="formAddDocs"><i class="bi bi-plus-lg me-1"></i>Добавить</a>
  <div class="collapse" id="formAddDocs">
    <div class="card card-body rounded-0">
      <form action="">
        <fieldset class="small pb-3">
          <div class="row mb-3">
            <label for="dateLoadDoc" class="col-md-4 col-form-label">Дата</label>
            <div class="col-sm-3">
              <input class="form-control form-control-sm" type="date" id="dateLoadDoc">
            </div>
          </div>
          <div class="row mb-3">
            <label for="nameDoc" class="col-md-4 col-form-label">Название документа</label>
            <div class="col-sm col-xl-6">
              <input class="form-control form-control-sm" type="text" id="nameDoc">
            </div>
          </div>
          <div class="row mb-3">
            <label for="fileDoc" class="col-md-4 col-form-label">Файл документа</label>
            <div class="col-sm col-xl-6">
              <input class="form-control form-control-sm" type="file" id="fileDoc">
            </div>
          </div>
          <div class="row mb-3">
            <label for="commentDoc" class="col-md-4 col-form-label">Комментарий</label>
            <div class="col-sm col-xl-6">
              <textarea name="" id="commentDoc" rows="2" class="form-control form-control-sm"></textarea>
            </div>
          </div>
        </fieldset>
        <div class="d-flex align-items-center justify-content-between">
          <div>
            <button class="btn btn-primary btn-sm" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Сохраняем...
            </button>
            <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
            <a href="#formAddDocs" class="btn btn-link btn-sm" data-bs-toggle="collapse" role="button"
              aria-expanded="false" aria-controls="formAddDocs">Закрыть</a>
          </div>
          <div class="text-success text-nowrap"><i class="bi bi-check-lg me-1"></i>Сохранено</div>
        </div>
      </form>
    </div>
  </div> -->
  <div class="table-responsive mt-2">
    <table class="table table-light small">
      <thead>
        <tr>
          <th scope="col" width="50" class="text-center">#</th>
          <th scope="col">Онлайн / счёт</th>
          <th scope="col">Дата платежа</th>
          <th scope="col">Плательщик</th>
          <th scope="col">Период / сумма</th>
          <th scope="col">Чек</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group">
              <a href="#" class="btn btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#modalPaymentInvoice"><i class="bi bi-pencil" title="Редактировть"></i></a>
              <a href="#" class="btn btn-outline-danger" title="Удалить"><i class="bi bi-x-lg"></i></a>
            </div>
          </td>
          <td class="text-muted"><a href="#" class="text-nowrap" target="_blank"><i
                class="bi bi-download me-1"></i>скачать</a></td>
          <td></td>
          <td>ООО "Агентство недвижимости"</td>
          <td>3 мес. / 300 руб.</td>
          <td></td>
        </tr>
        <tr>
          <td class="text-center">
            <a href="#" class="btn btn-outline-success btn-sm"><i class="bi bi-arrow-repeat" title="Повторить"></i></a>
          </td>
          <td class="text-muted"><a href="#" class="text-nowrap" target="_blank"><i
                class="bi bi-download me-1"></i>скачать</a></td>
          <td>12.09.2022</td>
          <td>ООО "Агентство недвижимости"<a href="#" class="ms-2" title="закрывающие документы"><i
                class="bi bi-file-earmark-text"></i></a></td>
          <td>3 мес. / 300 руб.</td>
          <td></td>
        </tr>
        <tr>
          <td class="text-center">
            <a href="#" class="btn btn-outline-success btn-sm"><i class="bi bi-arrow-repeat" title="Повторить"></i></a>
          </td>
          <td class="text-muted"><a href="#" class="text-nowrap" target="_blank"><i
                class="bi bi-download me-1"></i>скачать</a></td>
          <td>12.05.2022</td>
          <td>Иванов Иван Иванович</td>
          <td>3 мес. / 300 руб.</td>
          <td><a href="#" target="_blank">check</a></td>
        </tr>
        <tr>
          <td class="text-center">
            <a href="#" class="btn btn-outline-success btn-sm"><i class="bi bi-arrow-repeat" title="Повторить"></i></a>
          </td>
          <td class="text-muted">онлайн</td>
          <td>12.05.2022</td>
          <td>Иванов Иван Иванович</td>
          <td>1 мес. / 100 руб.</td>
          <td><a href="#" target="_blank">check</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
