<div class="card-body">
  <a class="btn btn-outline-success btn-sm mb-2" href="#" role="button" data-bs-toggle="modal"
    data-bs-target="#modalAddUsefulContact"><i class="bi bi-plus-lg me-1"></i>Добавить</a>
  <div class="table-responsive mt-2">
    <table class="table table-light small">
      <thead>
        <tr>
          <th scope="col" width="50" class="text-center">#</th>
          <th scope="col">Статус</th>
          <th scope="col" class="text-nowrap">ФИО/Организация</th>
          <th scope="col" class="text-nowrap">Телефон/E-mail</th>
          <th scope="col">Примечание</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group">
              <a href="#" class="btn btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#modalAddUsefulContact"><i class="bi bi-pencil" title="Редактировть"></i></a>
              <a href="#" class="btn btn-outline-danger" title="Удалить"><i class="bi bi-x-lg"></i></a>
            </div>
          </td>
          <td>Собственник</td>
          <td>Ерошенков Кирилл Михайлович</td>
          <td>
            <div class="text-nowrap mb-1"><a href="tel:+79265568904">8(926)556-89-04</a></div>
            <div class="text-nowrap mb-1"><a href="mailto:kir-ero@mail.ru">kir-ero@mail.ru</a></div>
          </td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, maiores!</td>
        </tr>
        <tr>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group">
              <a href="#" class="btn btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#modalAddUsefulContact"><i class="bi bi-pencil" title="Редактировть"></i></a>
              <a href="#" class="btn btn-outline-danger" title="Удалить"><i class="bi bi-x-lg"></i></a>
            </div>
          </td>
          <td>Управляющий</td>
          <td>Ерошенкова Лариса Анатольевна</td>
          <td>
            <div class="text-nowrap mb-1"><a href="tel:+79265387674">8(926)538-76-74</a></div>
            <div class="text-nowrap mb-1"><a href="mailto:lar-ero@mail.ru">lar-ero@mail.ru</a></div>
          </td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, maiores!</td>
        </tr>
        <tr>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group">
              <a href="#" class="btn btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#modalAddUsefulContact"><i class="bi bi-pencil" title="Редактировть"></i></a>
              <a href="#" class="btn btn-outline-danger" title="Удалить"><i class="bi bi-x-lg"></i></a>
            </div>
          </td>
          <td>УК</td>
          <td>ООО "Дружба-Растуново"</td>
          <td>
            <div class="text-nowrap mb-1"><a href="tel:+79261112233">8(926)111-22-33</a></div>
            <div class="text-nowrap mb-1"><a href="mailto:mail@mail.ru">mail@mail.ru</a></div>
          </td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
        </tr>
        <tr>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group">
              <a href="#" class="btn btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#modalAddUsefulContact"><i class="bi bi-pencil" title="Редактировть"></i></a>
              <a href="#" class="btn btn-outline-danger" title="Удалить"><i class="bi bi-x-lg"></i></a>
            </div>
          </td>
          <td>Сантехник</td>
          <td>Иванов Иван Иванович</td>
          <td>
            <div class="text-nowrap mb-1"><a href="tel:+79261112233">8(926)111-22-33</a></div>
            <div class="text-nowrap mb-1"><a href="mailto:mail@mail.ru">mail@mail.ru</a></div>
          </td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
