<header class="header-main mb-3">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="d-none d-sm-block col-sm mb-3 mb-sm-0">
        <div class="d-flex align-items-center flex-column flex-sm-row justify-content-center justify-content-lg-start">
          <img src="img/logo-ras.png" alt="Логотип" class="img-fluid">
          <h1 class="fs-3 ms-0 ms-sm-3 text-center text-lg-start">Система управления арендой</h1>
        </div>
      </div>
      <div class="col-sm col-lg-4">
        <div class="contacts d-flex flex-column text-center text-md-end">
          <a href="tel:+79265568904"><i class="bi bi-telephone me-2"></i>+7 (926) 556-89-04</a>
          <a href="mailto:arenda@rent-pult.ru"><i class="bi bi-envelope me-2"></i>arenda@rent-pult.ru</a>
        </div>
      </div>
    </div>
  </div>
</header>
