<div class="card-body">
  <p class="text-secondary"><i class="bi bi-info-circle text-orange me-2"></i>Перед внесением
    показаний составьте список актуальных счётчиков</p>
  <a href="#" class="btn btn-outline-success btn-sm mb-2" data-bs-toggle="modal" data-bs-target="#countersList"><i
      class="bi bi-list me-1"></i>Список счетчиков</a>
  <a class="btn btn-outline-success btn-sm mb-2" data-bs-toggle="modal" data-bs-target="#modalValuesCounters"><i
      class="bi bi-plus-lg me-1"></i>Добавить</a>
  <div class="table-responsive mt-2">
    <table class="table table-light align-middle small">
      <thead>
        <tr>
          <th scope="col" width="100" class="text-center">#</th>
          <th scope="col">Месяц</th>
          <th scope="col">Свет</th>
          <th scope="col">ХВС</th>
          <th scope="col">ГВС</th>
          <th scope="col">Газ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group">
              <a href="#" class="btn btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#modalValuesCounters"><i class="bi bi-pencil" title="Редактировть"></i></a>
              <a href="#" class="btn btn-outline-danger" title="Удалить"><i class="bi bi-x-lg"></i></a>
            </div>
          </td>
          <td class="text-nowrap">Март 2022</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
