<form action="">
  <div class="alert alert-light small shadow-sm">
    <!-- <div class="page-break-after"></div> -->
    <div class="d-print-block dogovor-print">
      <div class="h3 text-center">Акт приема-передачи квартиры</div>
      <table class="table table-borderless table-sm">
        <tr>
          <td class="text-start"><span class="text-danger">Место составления</span></td>
          <td class="text-end"><span class="text-danger">Дата составления</span></td>
        </tr>
        <tr>
          <td colspan="2">
            Гр. <span class="text-danger">Фамилия Имя Отчество</span>, именуемый в дальнейшем
            «Арендодатель» (паспорт серия <span class="text-danger">0000</span> номер <span class="text-danger">000000</span>, выдан <span class="text-danger">Орган, выдавший паспорт</span>, <span class="text-danger">дата выдачи</span> зарегистрирован <span class="text-danger">место регистрации</span>), с одной стороны,
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="mb-4">
              и гр. <span class="text-danger">Фамилия Имя Отчество</span>, именуемый в дальнейшем
              «Арендодатель» (паспорт серия <span class="text-danger">0000</span> номер <span class="text-danger">000000</span>, выдан <span class="text-danger">Орган, выдавший паспорт</span>, <span class="text-danger">дата выдачи</span> зарегистрирован <span class="text-danger">место регистрации</span>), именуемый в дальнейшем «Арендатор», с другой стороны, договорились о нижеследующем:
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="text-info mb-1"><em>Для акта при въезде</em></div>
            <div class="mb-4">
              <p class="mb-1">1. Арендодатель передаёт, а Арендатор принимает в пользование жилое помещение (квартиру), указанное в договоре аренды.</p>
              <p class="mb-1">
                <a href="#" class="btn btn-outline-danger btn-sm d-print-none me-2" title="Удалить пункт"><i class="bi bi-x-lg"></i></a>
                2. Помещение сдается в технически исправном состоянии, надлежащем противопожарном и санитарном состоянии.
              </p>
              <p class="mb-1">
                <a href="#" class="btn btn-outline-danger btn-sm d-print-none me-2" title="Удалить пункт"><i class="bi bi-x-lg"></i></a>
                3. Риск случайной гибели или случайного повреждения жилого помещения переходят на Арендатора с момента подписания настоящего акта.
              </p>
              <p class="mb-1">
                <a href="#" class="btn btn-outline-danger btn-sm d-print-none me-2" title="Удалить пункт"><i class="bi bi-x-lg"></i></a>
                4. Претензий к техническому, противопожарному и санитарному состоянию указанной квартиры Арендатор не имеет.
              </p>
              <div class="text-info mb-1"><em>Для акта при выезде</em></div>
              <p class="mb-1">1. Арендатор передаёт, а Арендодатель принимает в пользование жилое помещение (квартиру), указанное в договоре аренды.</p>
              <p class="mb-1">
                <a href="#" class="btn btn-outline-danger btn-sm d-print-none me-2" title="Удалить пункт"><i class="bi bi-x-lg"></i></a>
                2. Помещение сдается в технически исправном состоянии, надлежащем противопожарном и санитарном состоянии.
              </p>
            </div>
          </td>
        </tr>
        <tr class="page-break-inside">
          <td colspan="2">
            <div class="mb-4">
              <p>
                <a href="#" class="btn btn-outline-danger btn-sm d-print-none me-2" title="Удалить пункт"><i class="bi bi-x-lg"></i></a>
                5. Фотоотчёт помещения при выезде:
              </p>
              <div class="row g-2 photo-list">
                <div class="col-6 col-sm-3 col-xl-2">
                  <img src="img/object1.jpg" class="img-fluid" alt="foto">
                </div>
                <div class="col-6 col-sm-3 col-xl-2">
                  <img src="img/object2.jpg" class="img-fluid" alt="foto">
                </div>
                <div class="col-6 col-sm-3 col-xl-2">
                  <img src="img/object3.jpg" class="img-fluid" alt="foto">
                </div>
                <div class="col-6 col-sm-3 col-xl-2">
                  <img src="img/object1.jpg" class="img-fluid" alt="foto">
                </div>
                <div class="col-6 col-sm-3 col-xl-2">
                  <img src="img/object2.jpg" class="img-fluid" alt="foto">
                </div>
                <div class="col-6 col-sm-3 col-xl-2">
                  <img src="img/object3.jpg" class="img-fluid" alt="foto">
                </div>
                <div class="col-6 col-sm-3 col-xl-2">
                  <img src="img/object1.jpg" class="img-fluid" alt="foto">
                </div>
                <div class="col-6 col-sm-3 col-xl-2">
                  <img src="img/object2.jpg" class="img-fluid" alt="foto">
                </div>
                <div class="col-6 col-sm-3 col-xl-2">
                  <img src="img/object3.jpg" class="img-fluid" alt="foto">
                </div>
                <div class="col-6 col-sm-3 col-xl-2">
                  <img src="img/object2.jpg" class="img-fluid" alt="foto">
                </div>
                <div class="col-6 col-sm-3 col-xl-2">
                  <img src="img/object3.jpg" class="img-fluid" alt="foto">
                </div>
                <div class="col-6 col-sm-3 col-xl-2">
                  <img src="img/object1.jpg" class="img-fluid" alt="foto">
                </div>
                <div class="col-6 col-sm-3 col-xl-2">
                  <img src="img/object2.jpg" class="img-fluid" alt="foto">
                </div>
                <div class="col-6 col-sm-3 col-xl-2">
                  <img src="img/object3.jpg" class="img-fluid" alt="foto">
                </div>
              </div>
            </div>
            <div class="text-info mb-1"><em>Для акта при выезде</em></div>
            <div class="mb-4">
              <p class="page-break-avoid mb-1">Выявленные повреждения:</p>
              <em class="text-danger">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur accusamus repudiandae, assumenda modi praesentium dolorem quaerat fugit beatae perferendis esse quia excepturi, ipsa veritatis quae!</em>
            </div>
          </td>
        </tr>
        <tr class="page-break-inside">
          <td colspan="2">
            <div class="mb-4">
              <p>
                <a href="#" class="btn btn-outline-danger btn-sm d-print-none me-2" title="Удалить пункт"><i class="bi bi-x-lg"></i></a>
                6. Список имущества Арендодателя:
              </p>
              <div class="text-info mb-1"><em>Для акта при въезде</em></div>
              <table class="table table-bordered align-middle">
                <tr>
                  <th>Наименование</th>
                  <th>Стоимость, руб.</th>
                  <th width="120">Фото</th>
                </tr>
                <tr>
                  <td>1. Диван</td>
                  <td>7000</td>
                  <td><img src="img/object1.jpg" class="img-fluid" alt="foto"></td>
                </tr>
                <tr>
                  <th>Итого:</th>
                  <th colspan="2">7000</th>
                </tr>
              </table>
              <div class="text-info mb-1"><em>Для акта при выезде</em></div>
              <table class="table table-bordered align-middle">
                <tr>
                  <th>Наименование</th>
                  <th>Стоимость, руб.</th>
                  <th width="120">Фото при въезде</th>
                  <th width="120">Фото при выезде</th>
                  <th width="170">Повреждения, руб.</th>
                </tr>
                <tr>
                  <td>1. Диван</td>
                  <td>7000</td>
                  <td><img src="img/object1.jpg" class="img-fluid" alt="foto"></td>
                  <td><img src="img/object1.jpg" class="img-fluid" alt="foto"></td>
                  <td>
                    <div class="text-danger">
                      500
                      <div class="text-small mt-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, molestiae!</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>2. Двухспальная кровать</td>
                  <td>21000</td>
                  <td width="120"><img src="img/object2.jpg" class="img-fluid" alt="foto"></td>
                  <td width="120"><img src="img/object2.jpg" class="img-fluid" alt="foto"></td>
                  <td>
                    <div class="text-danger">
                      3000
                      <div class="text-small mt-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, molestiae!</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>3. Стол</td>
                  <td>7000</td>
                  <td><img src="img/object3.jpg" class="img-fluid" alt="foto"></td>
                  <td><img src="img/object3.jpg" class="img-fluid" alt="foto"></td>
                  <td>
                    <div class="text-danger">
                      500
                      <div class="text-small mt-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, molestiae!</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>4. Шкаф</td>
                  <td>21000</td>
                  <td width="120"><img src="img/object1.jpg" class="img-fluid" alt="foto"></td>
                  <td width="120"><img src="img/object1.jpg" class="img-fluid" alt="foto"></td>
                  <td>
                    <div class="text-danger">
                      3000
                      <div class="text-small mt-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, molestiae!</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>Итого:</th>
                  <th colspan="3">66000</th>
                  <th>7000</th>
                </tr>
              </table>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="mb-4">
              <p>
                <a href="#" class="btn btn-outline-danger btn-sm d-print-none me-2" title="Удалить пункт"><i class="bi bi-x-lg"></i></a>
                7. Показания счетчиков:
              </p>
              <div class="text-info mb-1"><em>Для акта при въезде</em></div>
              <table class="table table-bordered align-middle w-lg-50">
                <tr>
                  <th>Электричество</th>
                  <th>Газ</th>
                  <th>ХВС</th>
                  <th>ГВС</th>
                </tr>
                <tr>
                  <td>
                    <p class="mb-1">Т - <span class="text-danger">00000</span></p>
                    <p class="mb-1">Т1 - <span class="text-danger">00000</span></p>
                    <p class="mb-1">Т2 - <span class="text-danger">00000</span></p>
                  </td>
                  <td><span class="text-danger">00000</span></td>
                  <td><span class="text-danger">00000</span></td>
                  <td><span class="text-danger">00000</span></td>
                </tr>
              </table>
              <div class="text-info mb-1"><em>Для акта при выезде</em></div>
              <table class="table table-bordered align-middle w-lg-50">
                <tr>
                  <th colspan="2">Электричество</th>
                  <th colspan="2">Газ</th>
                  <th colspan="2">ХВС</th>
                  <th colspan="2">ГВС</th>
                </tr>
                <tr>
                  <td><em>въезд</em></td>
                  <td><em>выезд</em></td>
                  <td><em>въезд</em></td>
                  <td><em>выезд</em></td>
                  <td><em>въезд</em></td>
                  <td><em>выезд</em></td>
                  <td><em>въезд</em></td>
                  <td><em>выезд</em></td>
                </tr>
                <tr>
                  <td>
                    <p class="mb-1">Т - <span class="text-danger">00000</span></p>
                    <p class="mb-1">Т1 - <span class="text-danger">00000</span></p>
                    <p class="mb-1">Т2 - <span class="text-danger">00000</span></p>
                  </td>
                  <td>
                    <p class="mb-1">Т - <span class="text-danger">00000</span></p>
                    <p class="mb-1">Т1 - <span class="text-danger">00000</span></p>
                    <p class="mb-1">Т2 - <span class="text-danger">00000</span></p>
                  </td>
                  <td><span class="text-danger">00000</span></td>
                  <td><span class="text-danger">00000</span></td>
                  <td><span class="text-danger">00000</span></td>
                  <td><span class="text-danger">00000</span></td>
                  <td><span class="text-danger">00000</span></td>
                  <td><span class="text-danger">00000</span></td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
        <tr class="d-print-none">
          <td colspan="2">
            <div class="mb-4">
              <div class="collapse w-lg-50 mb-3" id="collapseAddPoint">
                <div class="input-group input-group-sm">
                  <span class="input-group-text">8.</span>
                  <textarea class="form-control"></textarea>
                  <span class="input-group-text">
                    <div class="btn-group btn-group-sm" role="group">
                      <a href="#" class="btn btn-outline-primary" role="button"><i class="bi bi-check-lg" title="Сохранить"></i></a>
                      <a href="#collapseAddPoint" class="btn btn-outline-danger" title="Удалить" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseAddPoint"><i class="bi bi-x-lg"></i></a>
                    </div>
                  </span>
                </div>
              </div>
              <button type="button" class="btn btn-outline-success btn-sm mb-3" data-bs-toggle="collapse" data-bs-target="#collapseAddPoint" aria-expanded="false" aria-controls="collapseAddPoint"><i class="bi bi-plus-lg me-1"></i>Добавить пункт</button>
            </div>
          </td>
        </tr>

        <tr>
          <td class="text-start">
            <div class="fw-light text-uppercase mb-2">Жилое помещение сдал:</div>
            <div class="mb-3">
              <div class="mb-1">ФИО: <span class="text-danger">Фамилия Имя Отчество</span></div>
              Подпись: <img src="img/signature.jpeg" alt="Signature" style="width: 150px;">
          </td>
          <td class="text-end">
            <div class="fw-light text-uppercase mb-2">Жилое помещение принял:</div>
            <div class="mb-3">
              <div class="mb-1">ФИО: <span class="text-danger">Фамилия Имя Отчество</span></div>
              Подпись: <img src="img/signature.jpeg" alt="Signature" style="width: 150px;">
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="d-print-none d-flex">
    <button class="btn btn-outline-primary me-2" onClick="window.print()"><i class="bi bi-printer me-1"></i>Распечатать</button>
    <a href="#" class="btn btn-outline-primary"><i class="bi bi-pencil-square me-1"></i>Подписать ЭЦП</a>
  </div>
</form>