<form action="">
  <div class="row mb-3 align-items-center">
    <div class="col col-sm-6 col-lg-3 mb-3 mb-lg-0">
      <label for="monthlyAmount" class="form-label">Ежемесячная сумма</label>
      <input class="form-control form-control-sm" type="text" id="monthlyAmount">
    </div>
  </div>
  <div class="row mb-3 align-items-center">
    <label class="form-label form-label-sm">Срок аренды</label>
    <div class="col col-sm-6 col-lg-3 mb-3 mb-lg-0">
      <label for="rentalPeriod" class="visually-hidden">Срок</label>
      <input class="form-control form-control-sm" type="text" id="rentalPeriod">
    </div>
    <div class="col col-sm-6 col-lg-3">
      <label for="rentalPeriod2" class="visually-hidden">Дни, месяцы, годы</label>
      <select class="form-select form-select-sm" type="text" id="rentalPeriod2">
        <option value="days">дней</option>
        <option value="months">месяца(-ев)</option>
        <option value="years">год(-а)</option>
      </select>
    </div>
  </div>
  <div class="row mb-3 align-items-center">
    <div class="col col-sm-6 col-lg-3 mb-3 mb-lg-0">
      <label for="datePay" class="form-label">Какого числа оплата</label>
      <input class="form-control form-control-sm" type="text" id="datePay">
    </div>
    <div class="col col-sm-6 col-lg-3">
      <label for="amountFirst" class="form-label">Сумма первого платежа</label>
      <input class="form-control form-control-sm" type="text" id="amountFirst">
    </div>
    <div class="col col-sm-6 col-lg-3">
      <label for="howManyMonths" class="form-label">За сколько месяцев</label>
      <input class="form-control form-control-sm" type="text" id="howManyMonths">
    </div>
  </div>
  <div class="row mb-3 align-items-center">
    <div class="col col-sm-6 col-lg-3 mb-3 mb-lg-0">
      <label for="amountDeposit" class="form-label">Сумма депозита</label>
      <input class="form-control form-control-sm" type="text" id="amountDeposit">
    </div>
    <div class="col col-sm-6 col-lg-3">
      <label for="whoPays" class="form-label">Комунальные платежи</label>
      <select class="form-select form-select-sm" type="text" id="whoPays">
        <option value="landlord">Арендодатель</option>
        <option value="tenant">Арендатор</option>
      </select>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-between">
    <div>
      <button class="btn btn-primary btn-sm" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Сохраняем...
      </button>
      <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
      <a href="object_profile.html" class="btn btn-link btn-sm">Закрыть</a>
    </div>
    <div class="text-success text-nowrap"><i class="bi bi-check-lg me-1"></i>Сохранено</div>
  </div>
</form>