<form action="">
  <div class="alert alert-light small shadow-sm">
    <div class="d-print-block">
      <div class="h3 text-center">Договор аренды квартиры № <span class="text-danger">номер</span></div>
      <table class="table table-borderless table-sm">
        <tr>
          <td class="text-start"><span class="text-danger">Место составления</span></td>
          <td class="text-end"><span class="text-danger">Дата составления</span></td>
        </tr>
        <tr>
          <td colspan="2">Гр. <span class="text-danger">Фамилия Имя Отчество</span>, именуемый в дальнейшем
            «Арендодатель»
            (паспорт серия <span class="text-danger">0000</span> номер <span class="text-danger">000000</span>, выдан
            <span class="text-danger">Орган, выдавший паспорт</span>, <span class="text-danger">дата выдачи</span>
            зарегистрирован <span class="text-danger">место регистрации</span>), с одной стороны,
          </td>
        </tr>
        <tr>
          <td colspan="2">и гр. <span class="text-danger">Фамилия Имя Отчество</span>, именуемый в дальнейшем
            «Арендодатель»
            (паспорт серия <span class="text-danger">0000</span> номер <span class="text-danger">000000</span>, выдан
            <span class="text-danger">Орган, выдавший паспорт</span>, <span class="text-danger">дата выдачи</span>
            зарегистрирован
            <span class="text-danger">место регистрации</span>), именуемый в дальнейшем «Арендатор», с другой стороны,
            заключили настоящий договор аренды о нижеследующем:
          </td>
        </tr>
        <tr>
          <th colspan="2" class="text-uppercase text-center">1. Предмет договора аренды</th>
        </tr>
        <tr>
          <td colspan="2">
            1.1. Арендодатель передает Арендатору и постоянно проживающим с ним лицам:
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="text-danger ms-2">1.1.1. Фамилия Имя Отчество</div>
            <div class="text-danger ms-2">1.1.2. Фамилия Имя Отчество</div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            жилое помещение, находящееся по адресу: <span class="text-danger">адрес помещения</span> состоящее из <span class="text-danger">0</span> - комнатной квартиры общей площадью –
            <span class="text-danger">0</span> кв.м, (далее – жилое помещение) во временное возмездное владение и
            пользование для проживания.

          </td>
        </tr>
        <tr>
          <td colspan="2">
            1.2. Недостатки жилого помещения, а так же имущество в помещении на момент передачи
            указываются в Приложении № <span class="text-danger">???</span> к договору аренды – Передаточном акте,
            являющемся неотъемлемой частью настоящего договора аренды.
          </td>
        </tr>
        <tr>
          <td colspan="2">
            1.3. Жилое помещение принадлежит Арендодателю на основании <span class="text-danger">Документа,
              подтверждающий право собственности, № документа, дата выдачи, кем
              выдан</span>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            1.4. Срок коммерческой аренды жилого помещения устанавливается: <span class="text-danger">дата с</span>
            <span class="text-danger">по</span>
          </td>
        </tr>
        <tr class="d-print-none">
          <td colspan="2">
            <div class="collapse w-lg-50 mb-3" id="collapseAddPoint">
              <div class="input-group input-group-sm">
                <span class="input-group-text">1.5.</span>
                <textarea class="form-control"></textarea>
                <span class="input-group-text">
                  <div class="btn-group btn-group-sm" role="group">
                    <a href="#" class="btn btn-outline-primary" role="button"><i class="bi bi-check-lg" title="Сохранить"></i></a>
                    <a href="#collapseAddPoint" class="btn btn-outline-danger" title="Удалить" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseAddPoint"><i class="bi bi-x-lg"></i></a>
                  </div>
                </span>
              </div>
            </div>
            <button type="button" class="btn btn-outline-success btn-sm mb-3" data-bs-toggle="collapse" data-bs-target="#collapseAddPoint" aria-expanded="false" aria-controls="collapseAddPoint"><i class="bi bi-plus-lg me-1"></i>Добавить пункт</button>
          </td>
        </tr>
        <tr>
          <th colspan="2" class="text-uppercase text-center">2. Обязанности и права арендодателя</th>
        </tr>
        <tr>
          <td colspan="2">
            2.1. Арендодатель обязуется: передать Арендатору благоустроенное жилое помещение, пригодное для проживания,
            отвечающее санитарным и техническим требованиям, обычно предъявляемым к жилым помещениям. Одновременно передаются ключи от помещения.
          </td>
        </tr>
        <tr>
          <td class="align-middle">
            <button class="btn btn-outline-danger btn-sm d-print-none" title="Удалить пункт"><i class="bi bi-x-lg"></i></button>
          </td>
          <td>
            2.2. Арендодатель обязуется: передать Арендатору благоустроенное жилое помещение, пригодное для проживания,
            отвечающее санитарным и техническим требованиям, обычно предъявляемым к жилым помещениям. Одновременно передаются ключи от помещения.
          </td>
        </tr>
      </table>
      <!-- <div class="d-flex justify-content-between">
        <p class="text-danger">Место составления</p>
        <p class="text-danger">Дата составления</p>
      </div>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum dignissimos atque reiciendis eos suscipit
            molestiae, sed voluptate quos fuga libero doloremque perspiciatis magni quisquam exercitationem excepturi,
            enim, mollitia voluptas magnam harum dolorum voluptatem. Facere dolorem repellendus veniam eaque aspernatur
            obcaecati
            ipsam voluptatum eius quae commodi cum suscipit, dolorum dolore enim.</p>
        </div>
      </div>
      <p class="fw-bold"><span>1.&nbsp;</span>Предмет договора</p>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg">
          <p><span>1.1.&nbsp;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum dignissimos atque
            reiciendis eos suscipit
            molestiae, sed voluptate quos fuga libero doloremque perspiciatis magni quisquam exercitationem excepturi,
            enim,
            mollitia voluptas magnam harum dolorum voluptatem. Facere dolorem repellendus veniam eaque aspernatur
            obcaecati
            ipsam voluptatum eius quae commodi cum suscipit, dolorum dolore enim.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg">
          <p><span>1.2.&nbsp;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum dignissimos atque
            reiciendis eos suscipit
            molestiae, sed voluptate quos fuga libero doloremque perspiciatis magni quisquam exercitationem excepturi,
            enim,
            mollitia voluptas magnam harum dolorum voluptatem. Facere dolorem repellendus veniam eaque aspernatur
            obcaecati
            ipsam voluptatum eius quae commodi cum suscipit, dolorum dolore enim.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1">
          <button type="button" class="btn btn-outline-danger btn-sm d-print-none mb-3" title="Удалить"><i
              class="bi bi-x-lg"></i></button>
        </div>
        <div class="col-lg">
          <p><span>1.3.&nbsp;</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum dignissimos atque
            reiciendis eos suscipit
            molestiae, sed voluptate quos fuga libero doloremque perspiciatis magni quisquam exercitationem excepturi,
            enim,
            mollitia voluptas magnam harum dolorum voluptatem. Facere dolorem repellendus veniam eaque aspernatur
            obcaecati
            ipsam voluptatum eius quae commodi cum suscipit, dolorum dolore enim.</p>
        </div>
      </div>
      <div class="d-print-none">
        <div class="mb-3">
          <label for="newPoints" class="visually-hidden">Новый пункт</label>
          <textarea class="form-control form-control-sm" id="newPoints" rows="2"></textarea>
        </div>
        <button type="button" class="btn btn-outline-success btn-sm mb-3"><i class="bi bi-plus-lg me-1"></i>Добавить
          пункт</button>
      </div> -->

    </div>
  </div>
  <div class="d-flex justify-content-between">
    <button type="submit" class="btn btn-primary"><i class="bi bi-save me-1"></i>Сохранить</button>
    <button class="btn btn-outline-primary" onClick="window.print()"><i class="bi bi-printer me-1"></i>Распечатать</button>
    <a href="#" class="btn btn-outline-primary"><i class="bi bi-pencil-square me-1"></i>Подписать ЭЦП</a>
  </div>
</form>
