<form action="">
  <div class="row mb-3 align-items-center">
    <div class="col-md-3 col-xl-2 mb-3 mb-md-0">
      <label for="electricT" class="form-label small">Электричество, Т</label>
      <input class="form-control form-control-sm" type="text" id="electricT">
    </div>
    <div class="col col-md-3 col-xl-2">
      <label for="electricT1" class="form-label small">Т1</label>
      <input class="form-control form-control-sm" type="text" id="electricT1">
    </div>
    <div class="col col-md-3 col-xl-2">
      <label for="electricT2" class="form-label small">Т2</label>
      <input class="form-control form-control-sm" type="text" id="electricT2">
    </div>
  </div>
  <div class="row mb-3 align-items-center">
    <div class="col-md-3 col-xl-2 mb-3 mb-md-0">
      <label for="gas" class="form-label small">Газ</label>
      <input class="form-control form-control-sm" type="text" id="gas">
    </div>
    <div class="col col-md-3 col-xl-2">
      <label for="xvs" class="form-label small">ХВС</label>
      <input class="form-control form-control-sm" type="text" id="xvs">
    </div>
    <div class="col col-md-3 col-xl-2">
      <label for="gvs" class="form-label small">ГВС</label>
      <input class="form-control form-control-sm" type="text" id="gvs">
    </div>
  </div>

  <!-- <div class="row mb-3 align-items-center">
    <div class="col col-md-3 col-xl-2 mb-3 mb-md-0">
      <label for="monthlyAmount" class="form-label small">Ежемесячная сумма</label>
      <input class="form-control form-control-sm" type="text" id="monthlyAmount">
    </div>
    <div class="col-sm col-md-4">
      <label for="montlyAmountText" class="form-label small">Сумма прописью</label>
      <input class="form-control form-control-sm" type="text" id="montlyAmountText">
    </div>
  </div>
  <div class="row mb-3 align-items-center">
    <div class="col col-md-3 col-xl-2 mb-3 mb-md-0">
      <label for="amountDeposit" class="form-label small">Сумма депозита</label>
      <input class="form-control form-control-sm" type="text" id="amountDeposit">
    </div>
    <div class="col-md-4 col-xl-2">
      <label for="whoPays" class="form-label small">Комунальные платежи</label>
      <select class="form-select form-select-sm" type="text" id="whoPays">
        <option value="landlord">Арендодатель</option>
        <option value="tenant">Арендатор</option>
      </select>
    </div>
    <div class="col col-md-3 col-xl-2">
      <label for="amountFine" class="form-label small">Сумма штрафа</label>
      <input class="form-control form-control-sm" type="text" id="amountFine">
    </div>
  </div>
  <div class="row mb-3 align-items-center">
    <label class="form-label small">Срок аренды</label>
    <div class="col col-md-3 col-xl-2">
      <label for="rentalPeriod" class="visually-hidden">Срок</label>
      <input class="form-control form-control-sm" type="text" id="rentalPeriod">
    </div>
    <div class="col col-md-3 col-xl-2">
      <label for="rentalPeriod2" class="visually-hidden">Дни, месяцы, годы</label>
      <select class="form-select form-select-sm" type="text" id="rentalPeriod2">
        <option value="days">дней</option>
        <option value="months">месяца(-ев)</option>
        <option value="years">год(-а)</option>
      </select>
    </div>
  </div>
  <div class="my-4">
    <p class="small fw-light text-uppercase">График платежей:</p>
    <div class="row mb-3 align-items-center">
      <div class="col col-md-3 col-xl-2">
        <label for="datePay" class="form-label small">до</label>
        <input class="form-control form-control-sm" type="date" id="datePay">
      </div>
      <div class="col col-md-3 col-xl-2">
        <label for="amountFirst" class="form-label small">сумма</label>
        <input class="form-control form-control-sm" type="text" id="amountFirst">
      </div>
    </div>
    <button class="btn btn-outline-success btn-sm"><i class="bi bi-plus-lg me-1"></i>Добавить</button>
  </div> -->

  <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
</form>