<form action="">
  <div class="row mb-3 align-items-center">
    <div class="col-sm col-lg-6 mb-3 mb-lg-0">
      <label for="fioLandlord" class="form-label">Фамилия Имя Отчество</label>
      <input class="form-control form-control-sm" type="text" id="fioLandlord" value="Иванов Иван Иванович">
    </div>
  </div>
  <div class="row mb-3 align-items-center">
    <div class="col-sm col-lg-6 mb-3 mb-lg-0">
      <label for="addressLandlord" class="form-label">Место регистрации</label>
      <input class="form-control form-control-sm" type="text" id="addressLandlord" value="Москва, Кремль">
    </div>
  </div>
  <div class="row mb-3 align-items-center">
    <label class="form-label">Паспорт</label>
    <div class="col col-sm-6 col-lg-3 mb-3 mb-lg-0">
      <label for="seriaPassLandlord" class="visually-hidden">Серия</label>
      <input class="form-control form-control-sm" type="text" id="seriaPassLandlord" placeholder="серия">
    </div>
    <div class="col col-sm-6 col-lg-3">
      <label for="numberPassLandlord" class="visually-hidden">Номер</label>
      <input class="form-control form-control-sm" type="text" id="numberPassLandlord" placeholder="№">
    </div>
  </div>
  <div class="row mb-3 align-items-center">
    <div class="col-sm col-lg-6 mb-3 mb-lg-0">
      <label for="organPassLandlord" class="form-label">Кем выдан</label>
      <input class="form-control form-control-sm" type="text" id="organPassLandlord">
    </div>
  </div>
  <div class="row mb-3 align-items-center">
    <div class="col col-sm-6 col-lg-3 mb-3 mb-lg-0">
      <label for="datePassLandlord" class="form-label">Дата выдачи</label>
      <input class="form-control form-control-sm" type="date" id="datePassLandlord">
    </div>
    <div class="col col-sm-6 col-lg-3">
      <label for="phoneLandlord" class="form-label">Телефон</label>
      <input class="form-control form-control-sm" type="text" id="phoneLandlord">
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-between">
    <div>
      <button class="btn btn-primary btn-sm" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Сохраняем...
      </button>
      <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
      
    </div>
    <div class="text-success text-nowrap"><i class="bi bi-check-lg me-1"></i>Сохранено</div>
  </div>
</form>
