<div class="modal modal-main fade" id="modalPhotoReportChoose" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Фотоотчёты</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="mb-3">
            <div class="form-check form-switch mb-2 me-2">
              <input class="form-check-input" type="radio" name="photo_report_choose" role="switch" id="radio_punkt_1" checked>
              <label class="form-check-label" for="radio_punkt_1">Название фотоотчёта от 25.11.2024 г.</label>
            </div>
            <div class="form-check form-switch mb-2 me-2">
              <input class="form-check-input" type="radio" name="photo_report_choose" role="switch" id="radio_punkt_2" checked>
              <label class="form-check-label" for="radio_punkt_2">Название фотоотчёта от 23.11.2024 г.</label>
            </div>
            <div class="form-check form-switch mb-2 me-2">
              <input class="form-check-input" type="radio" name="photo_report_choose" role="switch" id="radio_punkt_3" checked>
              <label class="form-check-label" for="radio_punkt_3">Название фотоотчёта от 20.11.2024 г.</label>
            </div>
          </div>
          <a href="photo-report-detail.html" class="btn btn-outline-success btn-sm" target="_blank"><i class="bi bi-plus-lg me-1"></i>Создать фотоотчёт</a>

        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-sm" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Сохраняем...
          </button>
          <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>