<div class="modal modal-main fade" id="modalMenuDogovor" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Настройка пунктов договора</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="">
        <div class="modal-body">

          <div class="mb-3">
            <!-- <h5 class="fw-light fs-5">Коммунальные услуги</h5> -->
            <div class="form-check form-switch mb-2 me-2">
              <input class="form-check-input" type="checkbox" role="switch" id="check_punkt_1" checked>
              <label class="form-check-label" for="check_punkt_1">Данные договора</label>
            </div>
            <div class="form-check form-switch mb-2 me-2">
              <input class="form-check-input" type="checkbox" role="switch" id="check_punkt_2" checked>
              <label class="form-check-label" for="check_punkt_2">Арендодатель</label>
            </div>
            <div class="form-check form-switch mb-2 me-2">
              <input class="form-check-input" type="checkbox" role="switch" id="check_punkt_3" checked>
              <label class="form-check-label" for="check_punkt_3">Арендатор</label>
            </div>
            <div class="form-check form-switch mb-2 me-2">
              <input class="form-check-input" type="checkbox" role="switch" id="check_punkt_4" checked>
              <label class="form-check-label" for="check_punkt_4">Объект аренды</label>
            </div>
            <div class="form-check form-switch mb-2 me-2">
              <input class="form-check-input" type="checkbox" role="switch" id="check_punkt_5" checked>
              <label class="form-check-label" for="check_punkt_5">Условия аренды</label>
            </div>
            <div class="form-check form-switch mb-2 me-2">
              <input class="form-check-input" type="checkbox" role="switch" id="check_punkt_6" checked>
              <label class="form-check-label" for="check_punkt_6">Проживающие</label>
            </div>
            <div class="form-check form-switch mb-2 me-2">
              <input class="form-check-input" type="checkbox" role="switch" id="check_punkt_7" checked>
              <label class="form-check-label" for="check_punkt_7">Еще пункт</label>
            </div>
            <div class="collapse my-3" id="my_punkt">
              <div class="form-group mb-2">
                <label class="visually-hidden" for="my_punkt_name">Название</label>
                <input class="form-control form-control-sm" type="text" id="my_punkt_name"
                  placeholder="Название пункта">
              </div>
            </div>
            <button type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="collapse"
              data-bs-target="#my_punkt" aria-expanded="false" aria-controls="my_punkt"><i
                class="bi bi-plus-lg me-1"></i>Добавить пункт</button>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-sm" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Сохраняем...
          </button>
          <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>