<div class="modal modal-main fade" id="modalPhotoChange" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Изменить фото</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="mb-3">
            <label for="changePhoto" class="form-label">Новое фото</label>
            <input class="form-control form-control-sm" type="file" id="changePhoto">
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-sm" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Сохраняем...
          </button>
          <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>