<nav class="navbar-object navbar-expand-lg bg-light shadow-sm">
  <div class="container">
    <a href="#" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarDogovor"
      aria-controls="navbarDogovor" aria-expanded="false" aria-label="Toggle navigation">
      <span class="text-primary fs-3">Меню объекта</span>
      <div>
        <i class="bi bi-list text-primary fs-2"></i>
      </div>
    </a>

    <div class="collapse navbar-collapse" id="navbarDogovor" role="tablist">
      <ul class="navbar-nav">
        <!-- <p class="mb-0 fs-5 py-2 mb-2 border-bottom w-100">Общие сведения</p> -->
        <li class="nav-item">
          <a class="nav-link active" href="#dogovor-info" id="dogovor-info-list" data-bs-toggle="list" role="tab"
            aria-controls="dogovor-info">Данные договора</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#landlord" id="landlord-list" data-bs-toggle="list" role="tab"
            aria-controls="landlord">Арендодатель</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tenant" id="tenant-list" data-bs-toggle="list" role="tab"
            aria-controls="tenant">Арендатор</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#object" id="object-list" data-bs-toggle="list" role="tab"
            aria-controls="object">Объект аренды</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#conditions" id="conditions-list" data-bs-toggle="list" role="tab"
            aria-controls="conditions">Условия аренды</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#residents" id="residents-list" data-bs-toggle="list" role="tab"
            aria-controls="residents">Проживающие</a>
        </li>
        <li class="nav-item d-block d-lg-none">
          <a href="#" class="float-end" data-bs-toggle="collapse" data-bs-target="#navbarDogovor"
            aria-controls="navbarDogovor" aria-expanded="false" aria-label="Toggle navigation"><i
              class="bi bi-x-lg me-1"></i>Свернуть</a>
        </li>
        <li class="nav-item mt-3">
          <div class="float-end">
            <!-- <a href="chronology.html" class="btn btn-outline-secondary btn-sm" title="Хронология"><i
                class="bi bi-clock-history"></i></a> -->
            <a href="#" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
              data-bs-target="#modalMenuDogovor" title="Настройка меню"><i class="bi bi-gear"></i></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>