<form action="">
  <div class="mb-4">
    <p class="small fw-light text-uppercase">Арендодатель:</p>
    <div class="row mb-3 align-items-center">
      <div class="col col-md-3 col-xl-2">
        <label for="phoneLandlord" class="form-label small">Телефон</label>
        <input class="form-control form-control-sm" type="text" id="phoneLandlord">
      </div>
      <div class="col col-md-3 col-xl-2">
        <label for="emailLandlord" class="form-label small">E-mail</label>
        <input class="form-control form-control-sm" type="email" id="emailLandlord">
      </div>
    </div>
    <div class="row mb-3 align-items-center">
      <div class="col-sm col-md-6">
        <label for="bankInfoLandlord" class="form-label small">Реквизиты</label>
        <textarea class="form-control form-control-sm" name="" id="bankInfoLandlord" rows="3"></textarea>
      </div>
    </div>
  </div>
  <div class="mb-4">
    <p class="small fw-light text-uppercase">Арендатор:</p>
    <div class="row mb-3 align-items-center">
      <div class="col col-md-3 col-xl-2">
        <label for="phoneTenant" class="form-label small">Телефон</label>
        <input class="form-control form-control-sm" type="text" id="phoneTenant">
      </div>
      <div class="col col-md-3 col-xl-2">
        <label for="emailTenant" class="form-label small">E-mail</label>
        <input class="form-control form-control-sm" type="email" id="emailTenant">
      </div>
    </div>
    <div class="row mb-3 align-items-center">
      <div class="col-sm col-md-6">
        <label for="bankInfoTenant" class="form-label small">Реквизиты</label>
        <textarea class="form-control form-control-sm" name="" id="bankInfoTenant" rows="3"></textarea>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
</form>