<form action="">
  Список имущества
  <!-- <div class="row mb-3 align-items-center">
    <div class="col-sm col-md-6">
      <label for="addressObject" class="form-label small">Адрес объекта</label>
      <input class="form-control form-control-sm" type="text" id="addressObject">
    </div>
  </div>
  <div class="row mb-3 align-items-center">
    <div class="col col-md-3 col-xl-2">
      <label for="areaObject" class="form-label small">Площадь</label>
      <input class="form-control form-control-sm" type="text" id="areaObject">
    </div>
    <div class="col col-md-3 col-xl-2">
      <label for="numberRooms" class="form-label small">Кол-во комнат</label>
      <input class="form-control form-control-sm" type="text" id="numberRooms">
    </div>
  </div>
  <div class="row mb-3 align-items-center">
    <div class="col-sm col-md-6">
      <label for="nameDoc" class="form-label small">Документ, подтверждающий право собственности или дающий право на
        распоряжение (управление) объектом</label>
      <textarea class="form-control form-control-sm" rows="3" name="" id="nameDoc"
        placeholder="название, №, дата выдачи, кем выдан"></textarea>
    </div>
  </div>
  <div class="row mb-3 align-items-center">
    <div class="col col-md-3 col-xl-2">
      <label for="reriodFrom" class="form-label small">Период аренды с</label>
      <input class="form-control form-control-sm" type="date" id="reriodFrom">
    </div>
    <div class="col col-md-3 col-xl-2">
      <label for="periodTo" class="form-label small">по</label>
      <input class="form-control form-control-sm" type="date" id="periodTo">
    </div>
  </div>
  <div class="my-4">
    <p class="small fw-light text-uppercase">Проживающие вместе с арендатором:</p>
    <div class="row mb-3 align-items-center">
      <div class="col-sm col-md-6">
        <label for="fio1" class="form-label small">Фамилия Имя Отчество</label>
        <input class="form-control form-control-sm" type="text" id="fio1">
      </div>
    </div>
    <button class="btn btn-outline-success btn-sm"><i class="bi bi-plus-lg me-1"></i>Добавить</button>
  </div> -->
  <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
</form>