<form action="">
  <div class="row mb-3 align-items-center">
    <div class="col-sm col-md-6">
      <label for="fioLandlord" class="form-label small">Фамилия Имя Отчество</label>
      <input class="form-control form-control-sm" type="text" id="fioLandlord" value="Петров Иван Иванович">
    </div>
  </div>
  <div class="row mb-3 align-items-center">
    <div class="col-sm col-md-6">
      <label for="addressLandlord" class="form-label small">Место регистрации</label>
      <input class="form-control form-control-sm" type="text" id="addressLandlord" value="Санкт-Петербург, Зимний">
    </div>
  </div>
  <div class="row mb-3 align-items-center">
    <label class="form-label small">Паспорт</label>
    <div class="col col-md-3 col-xl-2">
      <label for="seriaPassLandlord" class="visually-hidden">Серия</label>
      <input class="form-control form-control-sm" type="text" id="seriaPassLandlord" placeholder="серия">
    </div>
    <div class="col col-md-3 col-xl-2">
      <label for="numberPassLandlord" class="visually-hidden">Номер</label>
      <input class="form-control form-control-sm" type="text" id="numberPassLandlord" placeholder="№">
    </div>
  </div>
  <div class="row mb-3 align-items-center">
    <div class="col-sm col-md-4 mb-3 mb-sm-0">
      <label for="organPassLandlord" class="form-label small">Кем выдан</label>
      <input class="form-control form-control-sm" type="text" id="organPassLandlord">
    </div>
    <div class="col-sm col-md-3 col-xl-2">
      <label for="datePassLandlord" class="form-label small">Дата выдачи</label>
      <input class="form-control form-control-sm" type="date" id="datePassLandlord">
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
</form>