<div class="card-body">
  <nav class="mb-4">
    <div class="nav nav-tabs" id="nav-equipmentTabs" role="tablist">
      <button class="nav-link active" id="equipmentFurniture-tab" data-bs-toggle="tab"
        data-bs-target="#equipmentFurniture" type="button" role="tab" aria-controls="equipmentFurniture"
        aria-selected="true">Мебель</button>
      <button class="nav-link" id="equipmentTechnique-tab" data-bs-toggle="tab" data-bs-target="#equipmentTechnique"
        type="button" role="tab" aria-controls="equipmentTechnique" aria-selected="false">Техника</button>
      <button class="nav-link" id="plumbing-tab" data-bs-toggle="tab" data-bs-target="#plumbing" type="button"
        role="tab" aria-controls="plumbing" aria-selected="false">Сантехника</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-equipmentContent">
    <div class="tab-pane fade show active" id="equipmentFurniture" role="tabpanel"
      aria-labelledby="equipmentFurniture-tab" tabindex="0">
      <a class="btn btn-outline-success btn-sm mb-2" data-bs-toggle="collapse" href="#formAddFurniture" role="button"
        aria-expanded="false" aria-controls="formAddFurniture"><i class="bi bi-plus-lg me-1"></i>Добавить</a>
      <div class="collapse" id="formAddFurniture">
        <div class="card card-body rounded-0">
          <form action="">
            <fieldset class="small pb-3">
              <div class="row mb-3">
                <label for="nameFurniture" class="col-md-4 col-form-label">Название</label>
                <div class="col-sm col-xl-6">
                  <input class="form-control form-control-sm" type="text" id="nameFurniture">
                </div>
              </div>
              <div class="row mb-3">
                <label for="priceFurniture" class="col-md-4 col-form-label">Учётная стоимость, руб.</label>
                <div class="col-sm col-xl-6">
                  <input class="form-control form-control-sm" type="text" id="priceFurniture">
                </div>
              </div>
              <div class="row mb-3">
                <label for="nameFurniture" class="col-md-4 col-form-label">Статус</label>
                <div class="col-sm col-xl-6">
                  <select name="" id="" class="form-select form-select-sm">
                    <option selected>-</option>
                    <option value="1">Собственность</option>
                    <option value="2">В аренде</option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label for="priceRentFurniture" class="col-md-4 col-form-label">Стоимость аренды, руб.</label>
                <div class="col-sm col-xl-6">
                  <input class="form-control form-control-sm" type="text" id="priceRentFurniture">
                  <div class="small text-info">Поле появиться только в случае выбора статуса "В аренде"</div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="offset-md-4 col-md">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="notSeparable" value="option1">
                    <label class="form-check-label" for="notSeparable">не отделяемое улучшение</label>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label for="notesFurniture" class="col-md-4 col-form-label">Заметки</label>
                <div class="col-sm col-xl-6">
                  <textarea class="form-control form-control-sm" name="" id="notesFurniture" rows="2"
                    placeholder="описание / ссылка на инструкцию"></textarea>
                </div>
              </div>
              <div class="row mb-3 align-items-center">
                <label for="photoFurniture" class="col-md-4 col-form-label">Фото</label>
                <div class="col-10 col-md-6">
                  <input class="form-control form-control-sm" type="file" id="photoFurniture">
                </div>
                <div class="col-2">
                  <a href="#" class="btn btn-link text-danger btn-sm"><i class="bi bi-x-lg"></i></a>
                </div>
              </div>
              <div class="row mb-3">
                <div class="offset-md-4 col-md">
                  <a href="#" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-lg me-1"></i>Добавить
                    фото</a>
                </div>
              </div>
            </fieldset>
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <button class="btn btn-primary btn-sm" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Сохраняем...
                </button>
                <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
                <a href="#formAddFurniture" class="btn btn-link btn-sm" data-bs-toggle="collapse" role="button"
                  aria-expanded="false" aria-controls="formAddFurniture">Закрыть</a>
              </div>
              <div class="text-success text-nowrap"><i class="bi bi-check-lg me-1"></i>Сохранено</div>
            </div>
          </form>
        </div>
      </div>
      <div class="table-responsive mt-2">
        <table class="table table-light small">
          <thead>
            <tr>
              <th scope="col" width="50" class="text-center">#</th>
              <th scope="col">Дата</th>
              <th scope="col">Сумма</th>
              <th scope="col">Файлы</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center"><a href="#" class="text-danger btn-sm" title="Удалить"><i class="bi bi-x-lg"></i>
              </td>
              <td>12.05.2022</td>
              <td class="text-nowrap">7510.00 руб.</td>
              <td>
                <a href="#" class="mb-1 mb-sm-0 me-3 text-nowrap" target="_blank"><i
                    class="bi bi-file-earmark-arrow-down me-1"></i>file_payment.pdf</a>
                <a href="#" class="mb-1 mb-sm-0 me-3 text-nowrap" target="_blank"><i
                    class="bi bi-file-earmark-arrow-down me-1"></i>file_receipt.pdf</a>
              </td>
            </tr>
            <tr>
              <td class="text-center"><a href="#" class="text-danger btn-sm" title="Удалить"><i class="bi bi-x-lg"></i>
              </td>
              <td>03.07.2021</td>
              <td class="text-nowrap">7510.00 руб.</td>
              <td>
                <a href="#" class="mb-1 mb-sm-0 me-3 text-nowrap" target="_blank"><i
                    class="bi bi-file-earmark-arrow-down me-1"></i>file_payment_receipt.zip</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="equipmentTechnique" role="tabpanel" aria-labelledby="equipmentTechnique-tab"
      tabindex="0">
      <!-- <p class="text-secondary"><i class="bi bi-info-circle text-orange me-2"></i>Перед внесением
        показаний составьте список актуальных счётчиков</p> -->
      <!-- <a class="btn btn-outline-success btn-sm mb-2" data-bs-toggle="collapse" href="#formCounterValues" role="button" aria-expanded="false" aria-controls="formCounterValues"><i class="bi bi-plus-lg me-1"></i>Добавить</a> -->
      <a href="#" class="btn btn-outline-success btn-sm mb-2" data-bs-toggle="modal" data-bs-target="#countersList"><i
          class="bi bi-list me-1"></i>Список счетчиков</a>
      <a class="btn btn-outline-success btn-sm mb-2" data-bs-toggle="modal" data-bs-target="#modalValuesCounters"><i
          class="bi bi-plus-lg me-1"></i>Добавить</a>
      <!-- <div class="collapse" id="formCounterValues">
                                                    <div class="card card-body rounded-0">
                                                        <form action="">
                                                            <fieldset class="small pb-3">
                                                                <div class="row mb-3">
                                                                    <label for="month" class="col-md-4 col-form-label">Месяц</label>
                                                                    <div class="col-sm col-xl-6">
                                                                        <select name="" id="month" class="form-select form-select-sm">
                                                                            <option selected>-</option>
                                                                            <option value="1">июнь</option>
                                                                            <option value="2">июль</option>
                                                                            <option value="3">август</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-3">
                                                                    <label for="counter" class="col-md-4 col-form-label">Счётчик</label>
                                                                    <div class="col-sm col-xl-6">
                                                                        <select name="" id="counter" class="form-select form-select-sm">
                                                                            <option selected>-</option>
                                                                            <option value="1">Свет</option>
                                                                            <option value="2">ХВС</option>
                                                                            <option value="3">ГВС</option>
                                                                            <option value="4">Газ</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-3">
                                                                    <label for="valueCounter" class="col-md-4 col-form-label">Значение</label>
                                                                    <div class="col-sm col-xl-6">
                                                                        <input class="form-control form-control-sm" type="text" id="valueCounter">
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <div class="d-flex align-items-center justify-content-between">
                                                                <div>
                                                                    <button class="btn btn-outline-primary btn-sm" type="button" disabled>
                                                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                                        Сохраняем...
                                                                    </button>
                                                                    <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
                                                                    <a href="#formCounterValues" class="btn btn-link btn-sm" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="formCounterValues">Закрыть</a>
                                                                </div>
                                                                <div class="text-success text-nowrap"><i class="bi bi-check-lg me-1"></i>Сохранено</div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div> -->
      <div class="table-responsive mt-2">
        <table class="table table-light align-middle small">
          <thead>
            <tr>
              <th scope="col" width="100" class="text-center">#</th>
              <th scope="col">Месяц</th>
              <th scope="col">Свет</th>
              <th scope="col">ХВС</th>
              <th scope="col">ГВС</th>
              <th scope="col">Газ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">
                <div class="btn-group btn-group-sm" role="group">
                  <a href="#" class="btn btn-outline-success" data-bs-toggle="modal"
                    data-bs-target="#modalValuesCounters"><i class="bi bi-pencil" title="Редактировть"></i></a>
                  <a href="#" class="btn btn-outline-danger" title="Удалить"><i class="bi bi-x-lg"></i></a>
                </div>
              </td>
              <td class="text-nowrap">Март 2022</td>
              <td>100</td>
              <td>100</td>
              <td>100</td>
              <td>100</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
