<div class="card-body">
  <a class="btn btn-outline-success btn-sm mb-2" href="#" role="button" data-bs-toggle="modal" data-bs-target="#modalAddPhotoReport"><i class="bi bi-plus-lg me-1"></i>Добавить</a>
  <div class="table-responsive mt-2">
    <table class="table table-light small">
      <thead>
        <tr>
          <th scope="col" width="50" class="text-center">#</th>
          <th scope="col">Дата</th>
          <th scope="col">Фото</th>
          <th scope="col">Название</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group">
              <a href="photo-report-detail.html" class="btn btn-outline-success" title="Добавить фото"><i class="bi bi-camera-fill"></i></a>
              <a href="#" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalAddPhotoReport"><i class="bi bi-pencil" title="Редактировть"></i></a>
              <a href="#" class="btn btn-outline-danger" title="Удалить"><i class="bi bi-x-lg"></i></a>
            </div>
          </td>
          <td width="100">12.05.2021</td>
          <td width="100" class="text-center bg-white">
            <a href="photo-report-detail.html">
              <img src="img/object1.jpg" class="small-picture" alt="foto">
            </a>
          </td>
          <td>Первичный фотоотчёт при сдаче в аренду</td>
        </tr>
        <tr>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group">
              <a href="photo-report-detail.html" class="btn btn-outline-success" title="Добавить фото"><i class="bi bi-camera-fill"></i></a>
              <a href="#" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalAddPhotoReport"><i class="bi bi-pencil" title="Редактировть"></i></a>
              <a href="#" class="btn btn-outline-danger" title="Удалить"><i class="bi bi-x-lg"></i></a>
            </div>
          </td>
          <td width="100">25.11.2021</td>
          <td width="100" class="text-center bg-white">
            <a href="photo-report-detail.html">
              <img src="img/logo-gray-256.png" class="small-picture" alt="foto">
            </a>
          </td>
          <td>Промежуточный фотоотчёт</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>