<div class="card-body">
  <!-- <a class="btn btn-outline-success btn-sm mb-2" href="tenant-detail.html" role="button"><i
      class="bi bi-plus-lg me-1"></i>Добавить</a> -->
  <a class="btn btn-outline-success btn-sm mb-3" href="tenant-detail.html" role="button"><i
      class="bi bi-plus-lg me-1"></i>Добавить арендатора</a>
  <!-- <a class="btn btn-outline-success btn-sm mb-2" href="#" role="button" data-bs-toggle="modal"
    data-bs-target="#modalAddTenant"><i class="bi bi-plus-lg me-1"></i>Добавить</a> -->
  <div class="p-2 shadow-sm bg-success bg-gradient bg-opacity-10">
    <div class="row align-items-center justify-content-between">
      <div class="col-5 col-sm-2">
        <div class="btn-group btn-group-sm" role="group">
          <a href="tenant-detail.html" class="btn btn-outline-success"><i class="bi bi-pencil"
              title="Редактировать"></i></a>
          <a href="#" class="btn btn-outline-danger" title="Удалить"><i class="bi bi-x-lg"></i></a>
          <a href="#" class="btn btn-outline-danger" title="Закрыть доступ"><i class="bi bi-x-circle"></i></a>
        </div>
      </div>
      <div class="col">
        <div class="small text-uppercase">Иванов Георгий Викторович</div>
      </div>
      <div class="col-sm text-end">
        <a class="btn btn-outline-success btn-sm" href="#" data-bs-toggle="modal" data-bs-target="#modalAddTenantFromID"
          role="button"><i class="bi bi-plus-lg me-1"></i>Добавить ID</a>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-light small">
      <thead>
        <tr>
          <th scope="col" width="50" class="text-center">#</th>
          <th scope="col">Период договора аренды</th>
          <!-- <th scope="col">Период договора аренды<a class="btn btn-outline-success btn-sm ms-2" href="tenant-detail.html"
              role="button" title="Добавить договор"><i class="bi bi-plus-lg"></i></a></th> -->
          <th scope="col">Арендная плата в месяц</th>
          <th scope="col">Депозит</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group">
              <a href="tenant-dogovor.html" class="btn btn-outline-success"><i class="bi bi-pencil"
                  title="Редактировть"></i></a>
              <a href="#" class="btn btn-outline-secondary" title="Закрыть договор"><i class="bi bi-x-circle"></i></a>
            </div>
          </td>
          <td>11.05.2022 - 10.05.2023</td>
          <td>20000</td>
          <td>45000</td>
        </tr>
        <tr class="secondary">
          <td colspan="4">
            <div class="d-flex flex-column flex-sm-row">
              <a class="btn btn-outline-success btn-sm me-2" href="tenant-dogovor.html" role="button" style="width: fit-content;"><i
                  class="bi bi-plus-lg me-1"></i>Добавить договор</a>
              <div class="mt-2 mt-sm-0">
                <a class="btn btn-outline-secondary btn-sm" href="create-dogovor.html" role="button"><i
                    class="bi bi-plus-lg me-1"></i>Создать договор</a>
                <a class="btn btn-outline-secondary btn-sm" href="create-act.html" role="button"><i
                    class="bi bi-plus-lg me-1"></i>Создать акт</a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="p-2 shadow-sm bg-success bg-gradient bg-opacity-10">
    <div class="row align-items-center justify-content-between">
      <div class="col-5 col-sm-2">
        <div class="btn-group btn-group-sm" role="group">
          <a href="tenant-detail.html" class="btn btn-outline-success"><i class="bi bi-pencil"
              title="Редактировать"></i></a>
          <a href="#" class="btn btn-outline-danger" title="Удалить"><i class="bi bi-x-lg"></i></a>
          <a href="#" class="btn btn-outline-danger" title="Закрыть доступ"><i class="bi bi-x-circle"></i></a>
        </div>
      </div>
      <div class="col">
        <div class="small text-uppercase">Петров Иван Иванович</div>
      </div>
      <div class="col-sm text-end">
        <div class="text-secondary small">ID:123456</div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-light small">
      <thead>
        <tr>
          <th scope="col" width="50" class="text-center">#</th>
          <th scope="col">Период договора аренды</th>
          <!-- <th scope="col">Период договора аренды<a class="btn btn-outline-success btn-sm ms-2" href="tenant-detail.html"
                role="button" title="Добавить договор"><i class="bi bi-plus-lg"></i></a></th> -->
          <th scope="col">Арендная плата в месяц</th>
          <th scope="col">Депозит</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group">
              <a href="tenant-dogovor.html" class="btn btn-outline-success"><i class="bi bi-pencil"
                  title="Редактировть"></i></a>
              <a href="#" class="btn btn-outline-secondary" title="Закрыть договор"><i class="bi bi-x-circle"></i></a>
            </div>
          </td>
          <td>11.05.2022 - 10.05.2023</td>
          <td>20000</td>
          <td>45000</td>
        </tr>
        <td class="text-center">
          <div class="btn-group btn-group-sm" role="group">
            <a href="tenant-dogovor.html" class="btn btn-outline-success"><i class="bi bi-pencil"
                title="Редактировть"></i></a>
            <a href="#" class="btn btn-outline-secondary" title="Закрыть договор"><i class="bi bi-x-circle"></i></a>
          </div>
        </td>
        <td>11.05.2021 - 10.05.2022</td>
        <td>17000</td>
        <td>35000</td>
        </tr>
        <tr class="text-secondary">
          <td class="text-center">
            <a href="tenant-dogovor.html" class="text-secondary text-nowrap"><i
                class="bi bi-x-circle me-1"></i>Закрыт</a>
          </td>
          <td>10.03.2020 - 08.02.2021</td>
          <td>20000</td>
          <td>45000</td>
        </tr>
        <tr class="secondary">
          <td colspan="4">
            <div class="d-flex flex-column flex-sm-row">
              <a class="btn btn-outline-success btn-sm me-2" href="tenant-dogovor.html" role="button"
                style="width: fit-content;"><i class="bi bi-plus-lg me-1"></i>Добавить договор</a>
              <div class="mt-2 mt-sm-0">
                <a class="btn btn-outline-secondary btn-sm" href="create-dogovor.html" role="button"><i
                    class="bi bi-plus-lg me-1"></i>Создать договор</a>
                <a class="btn btn-outline-secondary btn-sm" href="create-act.html" role="button"><i
                    class="bi bi-plus-lg me-1"></i>Создать акт</a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <div class="table-responsive mt-2">
    <table class="table table-light small">
      <thead>
        <tr>
          <th scope="col" width="50" class="text-center">#</th>
          <th scope="col">Период</th>
          <th scope="col">Арендатор</th>
          <th scope="col">Месяц/депозит</th>
          <th scope="col">Комментарий</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group">
              <a href="tenant-detail.html" class="btn btn-outline-success"><i class="bi bi-pencil"
                  title="Редактировть"></i></a>
              <a href="#" class="btn btn-outline-danger" title="Удалить"><i class="bi bi-x-lg"></i></a>
              <a href="#" class="btn btn-outline-secondary" title="Закрыть договор"><i class="bi bi-x-circle"></i></a>
            </div>
          </td>
          <td>11.05.2022 - 10.05.2023</td>
          <td>
            <p class="mb-1">Иванов Георгий Викторович</p>
            <small class="text-secondary">id: 00001</small>
          </td>
          <td>20000 / 45000</td>
          <td>Пролонгация договора</td>
        </tr>
        <tr class="text-secondary">
          <td class="text-center">
            <span class="text-secondary text-nowrap"><i class="bi bi-x-circle me-1"></i>Закрыт</span>
          </td>
          <td>10.03.2020 - 08.02.2021</td>
          <td>
            <p class="mb-1">Иванов Георгий Викторович</p>
            <small class="text-secondary">id: 00001</small>
          </td>
          <td>20000 / 45000</td>
          <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo, veritatis.</td>
        </tr>
      </tbody>
    </table>
  </div> -->
</div>
