<div class="card-body">
  <p class="text-secondary"><i class="bi bi-info-circle text-orange me-2"></i>Перед внесением
    имущества добавьте список комнат</p>
  <a class="btn btn-outline-success btn-sm mb-2" href="#" role="button" data-bs-toggle="modal"
    data-bs-target="#modalAddThings"><i class="bi bi-plus-lg me-1"></i>Добавить</a>
  <a href="#" class="btn btn-outline-secondary btn-sm mb-2" data-bs-toggle="modal" data-bs-target="#roomList"><i
      class="bi bi-list me-1"></i>Список комнат</a>

  <div class="text-warning">Вариант 1</div>
  <div class="p-2 mb-3 shadow-sm bg-success bg-gradient bg-opacity-10">
    <form action="" method="POST" class="d-flex flex-wrap w-lg-50">
      <div class="input-group input-group-sm">
        <span class="input-group-text" id="basic-addon1">Фильтр по комнатам:</span>
        <select name="filter[sort]" class="form-select">
          <option value="0">все</option>
          <option value="1">гостиная</option>
          <option value="2">спальня</option>
          <option value="3">кухня</option>
        </select>
        <button class="btn btn-outline-success" type="submit" title="Фильтр"><i class="bi bi-filter"></i></button>
        <button class="btn btn-outline-secondary" type="submit" title="Сбросить"><i class="bi bi-x-lg"></i></button>
      </div>
    </form>
  </div>

  <div class="text-warning">Вариант 2</div>
  <div class="card card-object shadow-sm bg-success bg-gradient bg-opacity-10 border-0 mb-4">
    <form action="" method="POST">
      <div class="card-body py-3">
        <div class="d-flex flex-wrap">
          <div class="me-2">
            <input type="checkbox" class="btn-check" value="182" id="btn-check-room182" autocomplete="off">
            <label class="btn btn-outline-secondary btn-sm" for="btn-check-room182">Гостиная</label>
          </div>
          <div class="me-2">
            <input type="checkbox" class="btn-check" value="183" id="btn-check-room183" autocomplete="off">
            <label class="btn btn-outline-secondary btn-sm" for="btn-check-room183">Спальня</label>
          </div>
          <div class="me-2">
            <input type="checkbox" class="btn-check" value="181" id="btn-check-room181" autocomplete="off">
            <label class="btn btn-outline-secondary btn-sm" for="btn-check-room181">Кухня</label>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <input type="submit" name="set_filter_room" value="Фильтр" class="btn btn-outline-success btn-sm me-2">
        <input type="submit" name="clear_filter_room" value="Сбросить" class="btn btn-sm btn-outline-secondary">
      </div>
    </form>
  </div>
  <div class="text-warning">Вариант 3</div>
  <div class="p-2 mb-3 shadow-sm bg-success bg-gradient bg-opacity-10">
    <form action="" method="POST" class="d-flex flex-wrap">
      <div class="me-2">
        <input type="checkbox" class="btn-check" value="182" id="btn-check-room182" autocomplete="off">
        <label class="btn btn-outline-secondary btn-sm" for="btn-check-room182">Гостиная</label>
      </div>
      <div class="me-2">
        <input type="checkbox" class="btn-check" value="183" id="btn-check-room183" autocomplete="off">
        <label class="btn btn-outline-secondary btn-sm" for="btn-check-room183">Спальня</label>
      </div>
      <div class="me-2">
        <input type="checkbox" class="btn-check" value="181" id="btn-check-room181" autocomplete="off">
        <label class="btn btn-outline-secondary btn-sm" for="btn-check-room181">Кухня</label>
      </div>

      <input type="submit" name="set_filter_room" value="Фильтр" class="btn btn-outline-success btn-sm me-2">
      <input type="submit" name="clear_filter_room" value="Сбросить" class="btn btn-sm btn-link">
    </form>
  </div>

  <div class="table-responsive mt-2">
    <table class="table table-light small">
      <thead>
        <tr>
          <th scope="col" width="50" class="text-center">#</th>
          <th scope="col">Дата</th>
          <th scope="col">Название</th>
          <th scope="col">Стоимость</th>
          <th scope="col">Комментарий</th>
          <th scope="col">Фото</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group">
              <a href="photo-report-detail.html" class="btn btn-outline-success" title="Добавить фото"><i
                  class="bi bi-camera-fill"></i></a>
              <a href="#" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalAddThings"><i
                  class="bi bi-pencil" title="Редактировть"></i></a>
              <a href="#" class="btn btn-outline-danger" title="Удалить"><i class="bi bi-x-lg"></i></a>
            </div>
          </td>
          <td>15.06.2022</td>
          <td>
            <p class="mb-1">Диван</p>
            <span class="badge rounded-pill text-bg-secondary bg-opacity-50">Гостиная</span>
          </td>
          <td class="text-nowrap">7500 </td>
          <td>
            <div class="mb-1">
              <a href="#" class="mb-1 mb-sm-0 me-3 text-nowrap" target="_blank"><i
                  class="bi bi-file-earmark-arrow-down me-1"></i>file_payment.pdf</a>
              <a href="#" class="mb-1 mb-sm-0 me-3 text-nowrap" target="_blank"><i
                  class="bi bi-file-earmark-arrow-down me-1"></i>file_receipt.pdf</a>
            </div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, dolore.
          </td>
          <td width="100" class="text-center bg-white">
            <a href="photo-report-detail.html">
              <img src="img/logo-gray-256.png" class="small-picture" alt="foto">
            </a>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group">
              <a href="photo-report-detail.html" class="btn btn-outline-success" title="Добавить фото"><i
                  class="bi bi-camera-fill"></i></a>
              <a href="#" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalAddThings"><i
                  class="bi bi-pencil" title="Редактировть"></i></a>
              <a href="#" class="btn btn-outline-danger" title="Удалить"><i class="bi bi-x-lg"></i></a>
            </div>
          </td>
          <td>15.06.2022</td>
          <td>
            <p class="mb-1">Шкаф</p>
            <span class="badge rounded-pill text-bg-secondary bg-opacity-50">Спальня</span>
          </td>
          <td class="text-nowrap">7500 </td>
          <td>
            <div class="mb-1">
              <a href="#" class="mb-1 mb-sm-0 me-3 text-nowrap" target="_blank"><i
                  class="bi bi-file-earmark-arrow-down me-1"></i>file_payment.pdf</a>
            </div>
          </td>
          <td width="100" class="text-center bg-white">
            <a href="photo-report-detail.html">
              <img src="img/logo-gray-256.png" class="small-picture" alt="foto">
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
