<div class="card-body">
  <p class="text-secondary"><i class="bi bi-info-circle text-orange me-2"></i>Перед внесением
    имущества добавьте список комнат</p>
  <a class="btn btn-outline-success btn-sm mb-2" href="#" role="button" data-bs-toggle="modal"
    data-bs-target="#modalAddThings"><i class="bi bi-plus-lg me-1"></i>Добавить</a>
  <a href="#" class="btn btn-outline-secondary btn-sm mb-2" data-bs-toggle="modal" data-bs-target="#roomList"><i
      class="bi bi-list me-1"></i>Список комнат</a>
  <div class="table-responsive mt-2">
    <table class="table table-light small">
      <thead>
        <tr>
          <th scope="col" width="50" class="text-center">#</th>
          <th scope="col">Дата</th>
          <th scope="col">Фото</th>
          <th scope="col">Название</th>
          <th scope="col">Стоимость</th>
          <th scope="col">Примечание</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group">
              <a href="photo-report-detail.html" class="btn btn-outline-success" title="Добавить фото"><i
                  class="bi bi-camera-fill"></i></a>
              <a href="#" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalAddThings"><i
                  class="bi bi-pencil" title="Редактировть"></i></a>
              <a href="#" class="btn btn-outline-danger" title="Удалить"><i class="bi bi-x-lg"></i></a>
            </div>
          </td>
          <td>15.06.2022</td>
          <td width="100" class="text-center bg-white">
            <a href="photo-report-detail.html">
              <img src="img/logo-gray-256.png" class="small-picture" alt="foto">
            </a>
          </td>
          <td>
            <p class="mb-1">Диван</p>
            <span class="badge bg-secondary">Гостиная</span>
          </td>
          <td class="text-nowrap">7500 </td>
          <td>
            <div class="mb-1">
              <a href="#" class="mb-1 mb-sm-0 me-3 text-nowrap" target="_blank"><i
                  class="bi bi-file-earmark-arrow-down me-1"></i>file_payment.pdf</a>
              <a href="#" class="mb-1 mb-sm-0 me-3 text-nowrap" target="_blank"><i
                  class="bi bi-file-earmark-arrow-down me-1"></i>file_receipt.pdf</a>
            </div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, dolore.
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <div class="btn-group btn-group-sm" role="group">
              <a href="photo-report-detail.html" class="btn btn-outline-success" title="Добавить фото"><i
                  class="bi bi-camera-fill"></i></a>
              <a href="#" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalAddThings"><i
                  class="bi bi-pencil" title="Редактировть"></i></a>
              <a href="#" class="btn btn-outline-danger" title="Удалить"><i class="bi bi-x-lg"></i></a>
            </div>
          </td>
          <td>15.06.2022</td>
          <td width="100" class="text-center bg-white">
            <a href="photo-report-detail.html">
              <img src="img/logo-gray-256.png" class="small-picture" alt="foto">
            </a>
          </td>
          <td>
            <p class="mb-1">Шкаф</p>
            <span class="badge bg-secondary">Спальня</span>
          </td>
          <td class="text-nowrap">7500 </td>
          <td>
            <div class="mb-1">
              <a href="#" class="mb-1 mb-sm-0 me-3 text-nowrap" target="_blank"><i
                  class="bi bi-file-earmark-arrow-down me-1"></i>file_payment.pdf</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>