<div class="card-body">

  <a class="btn btn-outline-success btn-sm mb-2" data-bs-toggle="collapse" href="#formAddSurround" role="button"
    aria-expanded="false" aria-controls="formAddSurround"><i class="bi bi-geo-alt me-1"></i>Выбрать (добавить) дом</a>

  <div class="collapse" id="formAddSurround">
    <div class="card card-body rounded-0">
      <p class="text-secondary small"><i class="bi bi-info-circle text-orange me-2"></i>Lorem ipsum dolor sit amet
        consectetur
        adipisicing elit. Unde nisi quos eveniet tempora! Soluta corporis quasi enim quo minus! Enim ipsa consequatur,
        eveniet
        explicabo dignissimos est laborum quod ea quae.</p>
      <form action="">
        <fieldset class="small pb-3">
          <div class="row align-items-center mb-3">
            <label for="country" class="col-md-4 col-form-label">Страна</label>
            <div class="col-sm-4 col-xl-3">
              <select id="country" class="form-select form-select-sm">
                <option value="0">выбрать из списка</option>
                <option value="1">другая страна</option>
                <option value="2" selected>Россия</option>
                <option value="2">Бразилия</option>
                <option value="2">Никарагуа</option>
              </select>
            </div>
            <div class="col-sm-4 col-xl-3 mt-3 mt-sm-0">
              <small class="text-info">Объектов: 2</small>
            </div>
          </div>
          <div class="row align-items-center mb-3">
            <label for="city" class="col-md-4 col-form-label">Город</label>
            <div class="col-sm-4 col-xl-3">
              <select id="city" class="form-select form-select-sm">
                <option value="0">выбрать из списка</option>
                <option value="1">другой город</option>
                <option value="2" selected>Город1</option>
                <option value="2">Город2</option>
                <option value="2">Город3</option>
              </select>
            </div>
            <div class="col-sm-4 col-xl-3 mt-3 mt-sm-0">
              <small class="text-info">Объектов: 1</small>
            </div>
          </div>
          <div class="row align-items-center mb-3">
            <label for="area" class="col-md-4 col-form-label">Район</label>
            <div class="col-sm-4 col-xl-3">
              <select id="area" class="form-select form-select-sm">
                <option value="0">выбрать из списка</option>
                <option value="1" selected>другой район</option>
                <option value="2">Район1</option>
                <option value="2">Район2</option>
                <option value="2">Район3</option>
              </select>
            </div>
            <div class="col-sm-4 col-xl-3 mt-3 mt-sm-0">
              <div class="input-group">
                <input type="text" class="form-control form-control-sm" placeholder="Новый район"
                  aria-label="Новый район" aria-describedby="button-addon2">
                <button class="btn btn-outline-success btn-sm" type="button" title="Подтвердить" id="button-addon2"><i
                    class="bi bi-check-lg"></i></button>
              </div>
            </div>
          </div>
          <div class="row align-items-center mb-3">
            <label for="house" class="col-md-4 col-form-label">Дом</label>
            <div class="col-sm-4 col-xl-3">
              <select id="house" class="form-select form-select-sm" disabled>
                <option value="0" selected>выбрать из списка</option>
                <option value="1">другой дом</option>
                <option value="2">дом1</option>
                <option value="2">дом2</option>
                <option value="2">дом3</option>
              </select>
            </div>
            <div class="col-sm-4 col-xl-3 mt-3 mt-sm-0">
              <small class="text-muted"><i class="bi bi-info-circle text-orange me-1"></i>вначале укажите район</small>
            </div>
          </div>
          <div class="row align-items-center mb-3">
            <label for="gk" class="col-md-4 col-form-label">Жилой комплекс</label>
            <div class="col-sm-4 col-xl-3">
              <select id="gk" class="form-select form-select-sm" disabled>
                <option value="0" selected>выбрать из списка</option>
                <option value="1">другой ЖК</option>
                <option value="2">ЖК1</option>
                <option value="2">ЖК2</option>
                <option value="2">ЖК3</option>
              </select>
            </div>
            <div class="col-sm-4 col-xl-3 mt-3 mt-sm-0">
              <small class="text-muted"><i class="bi bi-info-circle text-orange me-1"></i>вначале укажите дом</small>
            </div>
          </div>
          <!-- <div class="row mb-3">
            <label for="nameRecord" class="col-md-4 col-form-label">Описание записи</label>
            <div class="col-sm col-xl-6">
              <input class="form-control form-control-sm" type="text" id="nameRecord">
            </div>
          </div>
          <div class="row mb-3">
            <label for="nameLinkRecord" class="col-md-4 col-form-label">Название ссылки/ссылка</label>
            <div class="col-sm-3">
              <input class="form-control form-control-sm" type="text" id="nameLinkRecord" placeholder="название">
            </div>
            <div class="col-sm-3">
              <input class="form-control form-control-sm" type="text" id="linkRecord" placeholder="ссылка">
            </div>
          </div>
          <div class="row mb-3 align-items-center">
            <label for="" class="col-md-4 col-form-label">Файл(-ы) к записи</label>
            <div class="col-10 col-md-6">
              <input class="form-control form-control-sm" type="file" id="paymentFiles">
            </div>
            <div class="col-2">
              <a href="#" class="btn btn-link text-danger btn-sm"><i class="bi bi-x-lg"></i></a>
            </div>
          </div>
          <div class="row mb-3">
            <div class="offset-md-4 col-md">
              <a href="#" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-lg me-1"></i>Добавить
                файл</a>
            </div>
          </div>
          <div class="row mb-3">
            <label for="commentFilesRecord" class="col-md-4 col-form-label">Комментарии к файлам</label>
            <div class="col-sm col-xl-6">
              <textarea class="form-control form-control-sm" name="" id="commentFilesRecord" rows="2"></textarea>
            </div>
          </div> -->
        </fieldset>
        <div class="d-flex align-items-center justify-content-between">
          <div>
            <button class="btn btn-primary btn-sm" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Сохраняем...
            </button>
            <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
            <a href="#formAddSurround" class="btn btn-link btn-sm" data-bs-toggle="collapse" role="button"
              aria-expanded="false" aria-controls="formAddSurround">Закрыть</a>
          </div>
          <div class="text-success text-nowrap"><i class="bi bi-check-lg me-1"></i>Сохранено</div>
        </div>
      </form>
    </div>
  </div>
  <div class="table-responsive mt-2">
    <table class="table table-light small">
      <thead>
        <tr>
          <th scope="col" width="50" class="text-center">#</th>
          <th scope="col">Дата</th>
          <th scope="col">Описание</th>
          <th scope="col">Ссылка</th>
          <th scope="col">Файлы</th>
          <th scope="col">Комментарии</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center"><a href="#" class="text-danger btn-sm" title="Удалить"><i class="bi bi-x-lg"></i>
          </td>
          <td>12.05.2022</td>
          <td>Вход на сайт Мособлеирц</td>
          <td><a href="#" target="_blank">ЛК Мособлеирц</a></td>
          <td>
            <a href="#" class="mb-1 mb-sm-0 me-3 text-nowrap" target="_blank"><i
                class="bi bi-file-earmark-arrow-down me-1"></i>file_payment.pdf</a>
            <a href="#" class="mb-1 mb-sm-0 me-3 text-nowrap" target="_blank"><i
                class="bi bi-file-earmark-arrow-down me-1"></i>file_receipt.pdf</a>
          </td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, esse.</td>
        </tr>
        <tr>
          <td class="text-center"><a href="#" class="text-danger btn-sm" title="Удалить"><i class="bi bi-x-lg"></i>
          </td>
          <td>12.05.2022</td>
          <td>Сайт УК Дружба</td>
          <td><a href="#" target="_blank">УК Дружба</a></td>
          <td>
            <a href="#" class="mb-1 mb-sm-0 me-3 text-nowrap" target="_blank"><i
                class="bi bi-file-earmark-arrow-down me-1"></i>contract.pdf</a>
          </td>
          <td>Договор с УК Дружба</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
