<div class="modal modal-main fade" id="modalMenuSetting" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Настройка меню</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="">
        <div class="modal-body">

          <div class="mb-3">
            <h5 class="fw-light fs-5">Коммунальные услуги</h5>
            <div class="d-flex flex-wrap">

              <div class="mb-2 me-2">
                <input type="checkbox" class="btn-check" checked id="check_menu_1" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm" for="check_menu_1">Показания счётчиков</label>
              </div>

              <div class="mb-2 me-2">
                <input type="checkbox" class="btn-check" checked id="check_menu_2" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm" for="check_menu_2">Платежи</label>
              </div>

              <div class="mb-2 me-2">
                <input type="checkbox" class="btn-check" checked id="check_menu_3" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm" for="check_menu_3">Общее</label>
              </div>

              <div class="mb-2 me-2">
                <input type="checkbox" class="btn-check" checked id="check_menu_4" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm" for="check_menu_4">Эксплуатация</label>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <h5 class="fw-light fs-5">Аренда</h5>
            <div class="d-flex flex-wrap">

              <div class="mb-2 me-2">
                <input type="checkbox" class="btn-check" checked id="check_menu_5" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm" for="check_menu_5">Оплата аренды</label>
              </div>

              <div class="mb-2 me-2">
                <input type="checkbox" class="btn-check" checked id="check_menu_7" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm" for="check_menu_7">Фото-отчёты</label>
              </div>

              <div class="mb-2 me-2">
                <input type="checkbox" class="btn-check" checked id="check_menu_8" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm" for="check_menu_8">Мебель</label>
              </div>

              <div class="mb-2 me-2">
                <input type="checkbox" class="btn-check" checked id="check_menu_9" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm" for="check_menu_9">Техника</label>
              </div>

              <div class="mb-2 me-2">
                <input type="checkbox" class="btn-check" checked id="check_menu_10" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm" for="check_menu_10">Арендаторы</label>
              </div>

              <div class="mb-2 me-2">
                <input type="checkbox" class="btn-check" checked id="check_menu_11" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm" for="check_menu_11">Чат</label>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <h5 class="fw-light fs-5">Окружение</h5>
            <div class="d-flex flex-wrap">
              <div class="mb-2 me-2">
                <input type="checkbox" class="btn-check" checked id="check_menu_13" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm" for="check_menu_13">Пункт меню 1</label>
              </div>
              <div class="mb-2 me-2">
                <input type="checkbox" class="btn-check" checked id="check_menu_14" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm" for="check_menu_14">Пункт меню 2</label>
              </div>
              <div class="mb-2 me-2">
                <input type="checkbox" class="btn-check" checked id="check_menu_15" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm" for="check_menu_15">Пункт меню 3</label>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <h5 class="fw-light fs-5">Информация об объекте</h5>
            <div class="d-flex flex-wrap">
              <div class="mb-2 me-2">
                <input type="checkbox" class="btn-check" checked id="check_menu_16" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm" for="check_menu_16">Общие данные</label>
              </div>
              <div class="mb-2 me-2">
                <input type="checkbox" class="btn-check" checked id="check_menu_17" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm" for="check_menu_17">Оплата объекта</label>
              </div>
              <div class="mb-2 me-2">
                <input type="checkbox" class="btn-check" checked id="check_menu_18" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm" for="check_menu_18">Настройка уведомлений</label>
              </div>
              <div class="mb-2 me-2">
                <input type="checkbox" class="btn-check" checked id="check_menu_19" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm" for="check_menu_19">Полезные контакты</label>
              </div>
              <div class="mb-2 me-2">
                <input type="checkbox" class="btn-check" checked id="check_menu_20" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm" for="check_menu_20">Соседи</label>
              </div>
              <div class="mb-2 me-2">
                <input type="checkbox" class="btn-check" checked id="check_menu_21" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm" for="check_menu_21">Документы</label>
              </div>
              <div class="mb-2 me-2">
                <input type="checkbox" class="btn-check" checked id="check_menu_22" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm" for="check_menu_22">Инвестиции</label>
              </div>
              <div class="mb-2 me-2">
                <input type="checkbox" class="btn-check" checked id="check_menu_23" autocomplete="off">
                <label class="btn btn-outline-secondary btn-sm" for="check_menu_23">Заметки</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-sm" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Сохраняем...
          </button>
          <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="countersList" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Список счётчиков</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="mb-3">
            <div class="mb-3">
              <label for="nameCounter" class="form-label">Название счётчика</label>
              <input type="text" class="form-control form-control-sm" id="nameCounter">
            </div>
            <button class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-lg me-1"></i>Добавить</button>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-sm" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Сохраняем...
          </button>
          <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="modalValuesCounters" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Показания счётчиков</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="mb-3">
            <label for="month" class="form-label">Месяц</label>
            <select name="" id="month" class="form-select form-select-sm">
              <option selected>-</option>
              <option value="1">июнь</option>
              <option value="2">июль</option>
              <option value="3">август</option>
            </select>
          </div>
          <hr>
          <div class="row align-items-center mb-3">
            <label for="valueCounter1" class="col-md-3 col-form-label">Свет</label>
            <div class="col-md">
              <input class="form-control form-control-sm" type="text" id="valueCounter1">
            </div>
          </div>
          <div class="row align-items-center mb-3">
            <label for="valueCounter2" class="col-md-3 col-form-label">ХВС</label>
            <div class="col-md">
              <input class="form-control form-control-sm" type="text" id="valueCounter2">
            </div>
          </div>
          <div class="row align-items-center mb-3">
            <label for="valueCounter3" class="col-md-3 col-form-label">ГВС</label>
            <div class="col-md">
              <input class="form-control form-control-sm" type="text" id="valueCounter3">
            </div>
          </div>
          <div class="row align-items-center mb-3">
            <label for="valueCounter4" class="col-md-3 col-form-label">Газ</label>
            <div class="col-md">
              <input class="form-control form-control-sm" type="text" id="valueCounter4">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-sm" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Сохраняем...
          </button>
          <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="modalAddFurniture" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Добавить мебель/технику</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="row mb-3 align-items-center">
            <label for="photoReportDate" class="form-label">Дата</label>
            <div class="col-6">
              <input class="form-control form-control-sm" type="date" id="photoReportDate">
            </div>
          </div>
          <div class="mb-3">
            <label for="nameFurniture" class="form-label">Название</label>
            <input class="form-control form-control-sm" type="text" id="nameFurniture">
          </div>
          <div class="mb-3">
            <label for="priceFurniture" class="form-label">Стоимость, </label>
            <input class="form-control form-control-sm" type="text" id="priceFurniture">
          </div>
          <!-- <div class="mb-3">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="notSeparable" value="option1">
              <label class="form-check-label" for="notSeparable">не отделяемое улучшение</label>
            </div>
          </div> -->
          <!-- <div class="row mb-3 align-items-center">
            <label for="photoFurniture" class="form-label">Фото</label>
            <div class="col-10">
              <input class="form-control form-control-sm" type="file" id="photoFurniture">
            </div>
            <div class="col-2">
              <a href="#" class="btn btn-link text-danger btn-sm"><i class="bi bi-x-lg"></i></a>
            </div>
          </div>
          <div class="mb-3">
            <a href="#" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-lg me-1"></i>Добавить
              фото</a>
          </div>
          <hr> -->
          <div class="row mb-3 align-items-center">
            <label for="fileFurniture" class="form-label">Файл<small class="text-secondary ms-1">(инструкция,
                гарантия и пр.)</small></label>
            <div class="col-10">
              <input class="form-control form-control-sm" type="file" id="fileFurniture">
            </div>
            <div class="col-2">
              <a href="#" class="btn btn-link text-danger btn-sm"><i class="bi bi-x-lg"></i></a>
            </div>
          </div>
          <div class="mb-3">
            <a href="#" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-lg me-1"></i>Добавить
              файл</a>
          </div>
          <div class="mb-3">
            <label for="notesFurniture" class="form-label">Примечание</label>
            <textarea class="form-control form-control-sm" name="" id="notesFurniture" rows="2"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-sm" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Сохраняем...
          </button>
          <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="modalAddPhotoReport" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Фото-отчёт</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="row mb-3 align-items-center">
            <label for="photoReportDate" class="form-label">Дата отчёта</label>
            <div class="col-6">
              <input class="form-control form-control-sm" type="date" id="photoReportDate">
            </div>
          </div>
          <div class="mb-3">
            <label for="namePhotoReport" class="form-label">Название</label>
            <input class="form-control form-control-sm" type="text" id="namePhotoReport">
          </div>
          <!-- <div class="row mb-3 align-items-center">
            <label for="photoForReport" class="form-label">Фото</label>
            <div class="col-10">
              <input class="form-control form-control-sm" type="file" id="photoForReport">
            </div>
            <div class="col-2">
              <a href="#" class="btn btn-link text-danger btn-sm"><i class="bi bi-x-lg"></i></a>
            </div>
          </div>
          <div class="mb-3">
            <a href="#" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-lg me-1"></i>Добавить
              фото</a>
          </div> -->
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-sm" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Сохраняем...
          </button>
          <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="modalAddTenant" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Добавить арендатора</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="row mb-3 align-items-center">
            <label for="rentalPeriod" class="form-label">Период аренды</label>
            <div class="col">
              <input class="form-control form-control-sm" type="date" id="rentalPeriodFrom">
            </div>
            <div class="col">
              <input class="form-control form-control-sm" type="date" id="rentalPeriodTo">
            </div>
          </div>
          <div class="mb-3">
            <label for="nameTenant" class="form-label">Арендатор, ID</label>
            <input class="form-control form-control-sm" list="datalistOptionsTenants" id="nameTenant"
              placeholder="ФИО или ID">
            <datalist id="datalistOptionsTenants">
              <option value="00001, Иванов Иван Иванович">
              <option value="00002, Петров Иван Иванович">
              <option value="00003, Юмашев Иван Иванович">
            </datalist>
          </div>
          <div class="mb-3">
            <label for="nameContract" class="form-label">Основание<small class="text-secondary ms-1">(название Договора
                аренды и пр.)</small></label>
            <input class="form-control form-control-sm" type="text" id="nameContract">
          </div>
          <div class="mb-3">
            <label for="leaseContract" class="form-label">Файл договора</label>
            <input class="form-control form-control-sm" type="file" id="leaseContract">
          </div>
          <div class="mb-3">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="prolongation" value="option1">
              <label class="form-check-label" for="prolongation">пролонгация</label>
            </div>
          </div>
          <!-- <div class="row mb-3 align-items-center">
            <label for="leaseContract" class="form-label">Основание<small class="text-secondary ms-1">(Договор аренды и пр.)</small></label>
            <div class="col-10">
              <input class="form-control form-control-sm" type="file" id="leaseContract">
            </div>
            <div class="col-2">
              <a href="#" class="btn btn-link text-danger btn-sm"><i class="bi bi-x-lg"></i></a>
            </div>
          </div>
          <div class="mb-3">
            <a href="#" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-lg me-1"></i>Добавить
              файл</a>
          </div> -->
          <div class="row mb-3 align-items-center">
            <div class="col-6">
              <label for="paymentMonth" class="form-label">Ежемесячная плата</label>
              <input class="form-control form-control-sm" type="text" id="paymentMonth">
            </div>
            <div class="col-6">
              <label for="depositAmount" class="form-label">Депозит</label>
              <input class="form-control form-control-sm" type="text" id="depositAmount">
            </div>
          </div>
          <div class="mb-3">
            <label for="commentAboutTenant" class="form-label">Комментарий</label>
            <textarea class="form-control form-control-sm" name="" id="commentAboutTenant" rows="2"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-sm" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Сохраняем...
          </button>
          <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="modalAddPayment" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Оплата аренды</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="row mb-3 align-items-center">
            <label for="paymentRentDate" class="form-label">Дата платежа</label>
            <div class="col-6">
              <input class="form-control form-control-sm" type="date" id="paymentRentDate">
            </div>
          </div>
          <div class="row mb-3 align-items-center">
            <label for="changePeriodPayment" class="form-label">Период оплаты</label>
            <div class="col-6">
              <select name="" id="changePeriodPayment" class="form-select form-select-sm">
                <option value="1">за месяц</option>
                <option selected>другой период</option>
              </select>
            </div>
            <div class="col-6">
              <select name="" id="paymentRentMonth" class="form-select form-select-sm" disabled>
                <option selected>выбрать месяц</option>
                <option value="2">январь 2022</option>
                <option value="3">февраль 2022</option>
                <option value="4">март 2022</option>
                <option value="5">апрель 2022</option>
                <option value="6">май 2022</option>
              </select>
            </div>
            <small class="text-info">Поля "Другой период" появятся только при соответствующем выборе "Периода оплаты",
              при этом поле с выбором месяца получит атрибут disabled</small>
          </div>
          <div class="row mb-3 align-items-center">
            <label for="anotherPeriodPayment" class="form-label">Другой период</label>
            <div class="col">
              <input class="form-control form-control-sm" type="date" id="anotherPeriodPaymentFrom">
            </div>
            <div class="col">
              <input class="form-control form-control-sm" type="date" id="anotherPeriodPaymentTo">
            </div>
          </div>
          <!-- <p class="form-label">Штраф/Блок</p>
          <div class="row mb-3 align-items-center">
            <div class="col">
              <label for="finePaymentRent" class="visually-hidden">Штраф</label>
              <input class="form-control form-control-sm" type="text" id="finePaymentRent" placeholder="суммы штрафа">
            </div>
            <div class="col">
              <label for="blockPaymentRent" class="visually-hidden">Блок</label>
              <input class="form-control form-control-sm" type="text" id="blockPaymentRent" placeholder="сумма блока">
            </div>
          </div> -->
          <div class="row mb-3 align-items-center">
            <label for="filePaymentRent" class="form-label">Файл(-ы)</small></label>
            <div class="col-10">
              <input class="form-control form-control-sm" type="file" id="filePaymentRent">
            </div>
            <div class="col-2">
              <a href="#" class="btn btn-link text-danger btn-sm"><i class="bi bi-x-lg"></i></a>
            </div>
          </div>
          <div class="mb-3">
            <a href="#" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-lg me-1"></i>Добавить
              файл</a>
          </div>
          <div class="mb-3">
            <label for="commentPaymentRent" class="form-label">Комментарий</label>
            <textarea class="form-control form-control-sm" name="" id="commentPaymentRent" rows="2"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-sm" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Сохраняем...
          </button>
          <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="noticeList" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Список типовых уведомлений</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="mb-3">
            <div class="mb-3">
              <label for="nameCounter" class="form-label">Название уведомления</label>
              <input type="text" class="form-control form-control-sm" id="nameCounter">
            </div>
            <button class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-lg me-1"></i>Добавить</button>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-sm" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Сохраняем...
          </button>
          <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="modalAddNotice" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Настройка уведомления</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="row mb-3">
            <div class="col-6 mb-3 mb-md-0">
              <label for="noticeAddDate" class="form-label">Дата</label>
              <input type="date" class="form-control form-control-sm" id="noticeAddDate">
            </div>
            <div class="col-md-6">
              <label for="periodicity" class="form-label">Периодичность</label>
              <select name="" id="periodicity" class="form-select form-select-sm">
                <option selected>-</option>
                <option value="0">однократно</option>
                <option value="1">ежедневно</option>
                <option value="2">ежемесячно</option>
                <option value="3">ежеквартально</option>
                <option value="4">ежегодно</option>
                <option value="5">раз в пять лет</option>
              </select>
            </div>
          </div>
          <!-- <div class="row mb-3">
            <div class="col-6">
              <label class="form-label" for="periodStartDate">Дата начала</label>
              <input type="date" class="form-control form-control-sm" id="periodStartDate">
            </div>
            <div class="col-6">
              <label class="form-label" for="periodEndDate">Дата окончания</label>
              <input type="date" class="form-control form-control-sm" id="periodEndDate">
            </div>
          </div> -->
          <!-- <div class="mb-3">
            <label for="choiceNotice" class="form-label">Типовые уведомления</label>
            <select name="" id="choiceNotice" class="form-select form-select-sm">
              <option selected>-</option>
              <option value="1">Оплата аренды</option>
              <option value="2">Показания счётчиков</option>
              <option value="3">Простое уведомление</option>
            </select>
          </div> -->
          <div class="mb-3">
            <label for="topicNotice" class="form-label">Тема уведомления</label>
            <input type="text" class="form-control form-control-sm" id="topicNotice">
          </div>
          <div class="mb-3">
            <label for="textNotice" class="form-label">Текст уведомления</label>
            <textarea class="form-control form-control-sm" name="" id="textNotice" rows="2"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-sm" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Сохраняем...
          </button>
          <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="modalAddUsefulContact" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Добавить контакт</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="mb-3">
            <label for="statusContact" class="form-label">Статус контакта</label>
            <input type="text" class="form-control form-control-sm" id="statusContact">
          </div>
          <div class="mb-3">
            <label for="nameUsefulContact" class="form-label">ФИО/Организация</label>
            <input type="text" class="form-control form-control-sm" id="nameUsefulContact">
          </div>
          <div class="row mb-3 align-items-center">
            <div class="col-md-6 mb-3 mb-md-0">
              <label for="phoneUsefulContact" class="form-label">Телефон</label>
              <input class="form-control form-control-sm" type="text" id="phoneUsefulContact">
            </div>
            <div class="col-md-6">
              <label for="emailUsefulContact" class="form-label">E-mail</label>
              <input class="form-control form-control-sm" type="text" id="emailUsefulContact">
            </div>
          </div>
          <div class="mb-3">
            <label for="textUsefulContact" class="form-label">Примечание</label>
            <textarea class="form-control form-control-sm" name="" id="textUsefulContact" rows="2"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-sm" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Сохраняем...
          </button>
          <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="modalPaymentInvoice" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Оплата по счёту</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="">
        <div class="modal-body">
          <p class="text-secondary"><i class="bi bi-info-circle text-orange me-2"></i>Для формирования счёта заполните
            форму. После сохранения счёт будет доступен для скачивания в соответствующей строке таблицы.</p>
          <!-- <div class="row mb-3 align-items-center">
            <label for="paymentObjDate" class="form-label">Дата платежа</label>
            <div class="col-6">
              <input class="form-control form-control-sm" type="date" id="paymentObjDate">
            </div>
          </div> -->
          <div class="mb-3">
            <label for="payer" class="form-label">Плательщик (ФИО / Организация)</label>
            <input type="text" class="form-control form-control-sm" id="payer">
          </div>
          <div class="row mb-3 align-items-center">
            <label for="changePeriodPayment" class="form-label">Период оплаты / сумма</label>
            <div class="col-6">
              <select name="" id="paymentRentMonth" class="form-select form-select-sm">
                <option>выбрать</option>
                <option value="2">1 мес.</option>
                <option value="3">2 мес.</option>
                <option selected value="4">3 мес.</option>
                <option value="5">4 мес.</option>
                <option value="6">5 мес.</option>
              </select>
            </div>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm" readonly value="300">
            </div>
          </div>
          <p class="text-secondary mb-1"><i class="bi bi-info-circle text-orange me-2"></i>После оплаты можно добавить
            чек.
          </p>
          <div class="mb-3">
            <label for="filePaymentRent" class="form-label">Чек</label>
            <input class="form-control form-control-sm" type="file" id="filePaymentRent">
          </div>
          <!-- <div class="mb-3">
            <label for="commentPaymentRent" class="form-label">Комментарий</label>
            <textarea class="form-control form-control-sm" name="" id="commentPaymentRent" rows="2"></textarea>
          </div> -->
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-sm" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Сохраняем...
          </button>
          <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>
