<nav class="navbar-object navbar-expand-lg bg-light shadow-sm">
  <div class="container">
    <a href="#" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarObjectDetailView" aria-controls="navbarObjectDetailView" aria-expanded="false" aria-label="Toggle navigation">
      <span class="text-primary fs-3">Меню объекта</span>
      <div>
        <i class="bi bi-list text-primary fs-2"></i>
      </div>
    </a>

    <div class="collapse navbar-collapse" id="navbarObjectDetailView" role="tablist">
      <ul class="navbar-nav">

        <p class="mb-0 fs-5 py-2 mb-2 border-bottom w-100">Аренда</p>

        <li class="nav-item">
          <a class="nav-link active" href="#photo-reports" id="photo-reports-list" data-bs-toggle="list" role="tab" aria-controls="photo-reports">Фотоотчёты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#things" id="things-list" data-bs-toggle="list" role="tab" aria-controls="things">Имущество</a>
        </li>

        <p class="mb-0 fs-5 py-2 mb-2 border-bottom w-100">Информация об объекте</p>
        <li class="nav-item">
          <a class="nav-link" href="#common-data" id="common-data-list" data-bs-toggle="list" role="tab" aria-controls="common-data">Общие данные</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#useful-contacts" id="useful-contacts-list" data-bs-toggle="list" role="tab" aria-controls="useful-contacts">Полезные контакты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#neighbours" id="neighbours-list" data-bs-toggle="list" role="tab" aria-controls="neighbours">Соседи</a>
        </li>

        <li class="nav-item d-block d-lg-none">
          <a href="#" class="float-end" data-bs-toggle="collapse" data-bs-target="#navbarObjectDetailView" aria-controls="navbarObjectDetailView" aria-expanded="false" aria-label="Toggle navigation"><i class="bi bi-x-lg me-1"></i>Свернуть</a>
        </li>

      </ul>
    </div>
  </div>
</nav>