<nav class="navbar-object navbar-expand-lg bg-light shadow-sm">
  <div class="container">
    <a href="#" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarObject"
      aria-controls="navbarObject" aria-expanded="false" aria-label="Toggle navigation">
      <span class="text-primary fs-3">Меню объекта</span>
      <div>
        <i class="bi bi-list text-primary fs-2"></i>
      </div>
    </a>
    <div class="collapse navbar-collapse" id="navbarObject" role="tablist">
      <ul class="navbar-nav">
        <p class="mb-0 fs-5 py-2 mb-2 border-bottom w-100">Коммунальные услуги</p>
        <li class="nav-item">
          <a class="nav-link active" href="#reading-counters" id="reading-counters-list" data-bs-toggle="list"
            role="tab" aria-controls="reading-counters">Показания счётчиков</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#payment-bills" id="payment-bills-list" data-bs-toggle="list" role="tab"
            aria-controls="payment-bills">Платежи</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#general-communal-services" id="general-communal-services-list"
            data-bs-toggle="list" role="tab" aria-controls="general-communal-services">Общее</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#exp-communal-services" id="exp-communal-services-list" data-bs-toggle="list"
            role="tab" aria-controls="exp-communal-services">Эксплуатация</a>
        </li>
        <p class="mb-0 fs-5 py-2 mb-2 border-bottom w-100">Аренда</p>
        <li class="nav-item">
          <a class="nav-link" href="#payment-rent" id="payment-rent-list" data-bs-toggle="list" role="tab"
            aria-controls="payment-rent">Оплата аренды</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#photo-reports" id="photo-reports-list" data-bs-toggle="list" role="tab"
            aria-controls="photo-reports">Фото-отчёты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#equipment-furniture" id="equipment-furniture-list" data-bs-toggle="list" role="tab"
            aria-controls="equipment-furniture">Мебель</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#equipment-technique" id="equipment-technique-list" data-bs-toggle="list" role="tab"
            aria-controls="equipment-technique">Техника</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tenants" id="tenants-list" data-bs-toggle="list" role="tab"
            aria-controls="tenants">Арендаторы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center justify-content-between" href="#rent-messages"
            id="rent-messages-list" data-bs-toggle="list" role="tab" aria-controls="rent-messages">Чат<span
              class="badge rounded-pill text-bg-danger" title="Непрочитанные сообщения">1</span></a>

        </li>
        <p class="mb-0 fs-5 py-2 mb-2 border-bottom w-100">Информация об объекте</p>
        <li class="nav-item">
          <a class="nav-link" href="#common-data" id="common-data-list" data-bs-toggle="list" role="tab"
            aria-controls="common-data">Общие данные</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#payment" id="payment-list" data-bs-toggle="list" role="tab"
            aria-controls="payment">Оплата объекта</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#notification-settings" id="notification-settings-list" data-bs-toggle="list"
            role="tab" aria-controls="notification-settings">Настройка уведомлений</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#useful-contacts" id="useful-contacts-list" data-bs-toggle="list" role="tab"
            aria-controls="useful-contacts">Полезные контакты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#neighbours" id="neighbours-list" data-bs-toggle="list" role="tab"
            aria-controls="neighbours">Соседи</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#docs-object" id="docs-object-list" data-bs-toggle="list" role="tab"
            aria-controls="docs-object">Документы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#investments" id="investments-list" data-bs-toggle="list" role="tab"
            aria-controls="investments">Инвестиции</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#notes" id="notes-list" data-bs-toggle="list" role="tab"
            aria-controls="notes">Заметки</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Коммунальные услуги
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#communal-services" id="communal-services-list" data-bs-toggle="list"
            role="tab" aria-controls="communal-services">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <li class="nav-item d-block d-lg-none">
          <a href="#" class="float-end" data-bs-toggle="collapse" data-bs-target="#navbarObject"
            aria-controls="navbarObject" aria-expanded="false" aria-label="Toggle navigation"><i
              class="bi bi-x-lg me-1"></i>Свернуть</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
