<div class="alert alert-warning mt-4">
  <p class="mb-1 small"><i class="bi bi-question-circle me-1"></i>Помощь:</p>
  <ul class="list-unstyled text-small mb-0">
    <li>1. Справочная информация - размещена по этой <a
        href="https://rent-pult.ru/about/System/type_equipment-furniture.php" target="_blank">ссылке</a></li>
    <li>2. Видео-инструкцию можно посмотреть на <a href="https://www.youtube.com/watch?v=Qp4JHQD1qg0&t"
        target="_blank">youtube</a> или <a href="#">скачать себе (297
        мб)</a></li>
    <li>3. А задать свой вопрос можно на <a href="https://rent-pult.ru/forum/?PAGE_NAME=list&FID=15">форуме</a></li>
  </ul>
</div>
