<div class="card card-object rounded-0">
  <div class="row g-0">
    <div class="col-sm-2 col-xl-1">
      <a href="img/object1.jpg" data-fancybox="gallery-a">
        <img src="img/object1.jpg" class="card-img-object" alt="plug">
      </a>
      <div style="display:none">
        <a href="https://lipsum.app/id/61/1800x1200" data-fancybox="gallery-a">
          <img src="https://lipsum.app/id/61/120x80">
        </a>
        <a href="https://lipsum.app/id/62/1800x1200" data-fancybox="gallery-a">
          <img src="https://lipsum.app/id/62/120x80">
        </a>
        <a href="https://lipsum.app/id/63/1800x1200" data-fancybox="gallery-a">
          <img src="https://lipsum.app/id/63/120x80">
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="card-object-content">
        <div class="card-title">
          <a href="#collapseApartDetail" class="text-uppercase fw-semibold mb-1 mb-sm-0" data-bs-toggle="collapse"
            role="button" aria-expanded="false" aria-controls="collapseApartDetail">42,2 м<sup>2</sup>,
            1-комнатная квартира</a>
          <div class="text-success text-nowrap me-2"><strong>25 000</strong> р/мес.</div>
          <!-- <div class="d-flex align-items-center">
                    <a href="object_profile.html" class="btn btn-outline-success btn-xs me-2" role="button"
                      title="Управление объектом"><i class="bi bi-gear"></i></a>
                    <a href="#" class="btn btn-outline-danger btn-xs me-2" role="button" title="Удалить объект"><i
                        class="bi bi-x-lg"></i></a>
                    <a href="#collapseApartDetail" class="btn btn-outline-primary btn-xs" data-bs-toggle="collapse"
                      role="button" aria-expanded="false" aria-controls="collapseApartDetail" title="Подробнее"><i
                        class="bi bi-chevron-down"></i></a>
                  </div> -->
        </div>
        <div class="card-body">
          <p class="fw-semibold"><span class="me-2">Домодедово, ул. Мечты, д.3к3, 2-й этаж</span><a
              href="#collapseApartDetail" class="btn btn-outline-primary btn-xs" data-bs-toggle="collapse" role="button"
              aria-expanded="false" aria-controls="collapseApartDetail"><i class="bi bi-map me-1"></i>на карте</a></p>
          <div class="card-object-badge mb-3">
            <span class="badge-item bg-secondary bg-opacity-10">Интернет</span>
            <span class="badge-item bg-secondary bg-opacity-10">Мебель на кухне</span>
            <span class="badge-item bg-secondary bg-opacity-10">Телевизор</span>
            <span class="badge-item bg-secondary bg-opacity-10">Холодильник</span>
            <span class="badge-item bg-secondary bg-opacity-10">Стиральная машина</span>
            <span class="badge-item bg-secondary bg-opacity-10">Можно с животными</span>
            <span class="badge-item bg-secondary bg-opacity-10">Можно с детьми</span>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <a href="tel:+79265568904" class="btn btn-outline-success btn-sm text-nowrap"><i
                class="bi bi-telephone me-1"></i>+7 926 556-89-04</a>
            <div class="small text-muted ms-2">Опубликовано: 08.10.2022</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse text-bg-light" id="collapseApartDetail">
    <div class="row">
      <div class="col-md order-2 order-sm-1">
        <div class="d-flex flex-column p-3">
          <p class="mb-1 fw-semibold">Описание</p>
          <p class="small text-secondary">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel,
            doloribus accusamus vitae debitis velit sit iure dolores maxime inventore repellendus
            explicabo aliquam voluptatem quia quisquam harum saepe blanditiis. Sequi, nostrum. Lorem ipsum
            dolor sit amet consectetur, adipisicing elit. Vel, doloribus accusamus vitae debitis velit sit
            iure dolores
            maxime inventore repellendus explicabo aliquam voluptatem quia quisquam harum saepe
            blanditiis. Sequi, nostrum.</p>
          <p class="mb-1 fw-semibold">Прочая информация</p>
          <p>
            <a href="apart_detail_view.html" class="btn btn-outline-secondary btn-sm mb-2"><i
                class="bi bi-images me-1"></i>Фото-отчёт</a>
            <a href="apart_detail_view.html" class="btn btn-outline-secondary btn-sm mb-2"><i
                class="bi bi-images me-1"></i>Имущество в квартире</a>
            <a href="apart_detail_view.html" class="btn btn-outline-secondary btn-sm mb-2"><i
                class="bi bi-images me-1"></i>Полезные контакты</a>
            <a href="apart_detail_view.html" class="btn btn-outline-secondary btn-sm mb-2"><i
                class="bi bi-images me-1"></i>Соседи</a>
          </p>
          <a href="#collapseApartDetail" class="d-block small" data-bs-toggle="collapse" role="button"
            aria-expanded="false" aria-controls="collapseApartDetail"><i class="bi bi-x-lg me-1"></i>Закрыть</a>
        </div>
      </div>
      <div class="col-md order-1 order-sm-2 mb-3 mb-sm-0">
        <script type="text/javascript" charset="utf-8" async
          src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A27432cde53b8182ec78926b5ec43fe1a6e492f6745455bcad4a2b15f2b77a97b&amp;width=100%25&amp;height=300&amp;lang=ru_RU&amp;scroll=false"></script>
      </div>
    </div>
  </div>
</div>
<div class="card card-object rounded-0">
  <div class="row g-0">
    <div class="col-sm-2 col-xl-1">
      <a href="img/object1.jpg" data-fancybox="gallery-b">
        <img src="img/object1.jpg" class="card-img-object" alt="plug">
      </a>
      <div style="display:none">
        <a data-fancybox="gallery-b" href="https://lipsum.app/id/81/1800x1200">
          <img src="https://lipsum.app/id/81/120x80">
        </a>
        <a data-fancybox="gallery-b" href="https://lipsum.app/id/72/1800x1200">
          <img src="https://lipsum.app/id/72/120x80">
        </a>
        <a data-fancybox="gallery-b" href="https://lipsum.app/id/73/1800x1200">
          <img src="https://lipsum.app/id/73/120x80">
        </a>
        <a data-fancybox="gallery-b" href="https://lipsum.app/id/74/1800x1200">
          <img src="https://lipsum.app/id/74/120x80">
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="card-object-content">
        <div class="card-title">
          <a href="#collapseApartDetail2" class="text-uppercase fw-semibold mb-1 mb-sm-0" data-bs-toggle="collapse"
            role="button" aria-expanded="false" aria-controls="collapseApartDetail2">42,2 м<sup>2</sup>,
            1-комнатная квартира</a>
          <div class="text-success text-nowrap me-2"><strong>25 000</strong> р/мес.</div>
        </div>
        <div class="card-body">
          <p class="fw-semibold"><span class="me-2">Московская область, г. Подольск, ул. Юбилейная, д.7а, 2-й
              этаж</span><a href="#collapseApartDetail2" class="btn btn-outline-primary btn-xs"
              data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseApartDetail2"><i
                class="bi bi-map me-1"></i>на карте</a></p>
          <div class="card-object-badge mb-3">
            <span class="badge-item bg-secondary bg-opacity-10">Интернет</span>
            <span class="badge-item bg-secondary bg-opacity-10">Мебель на кухне</span>
            <span class="badge-item bg-secondary bg-opacity-10">Телевизор</span>
            <span class="badge-item bg-secondary bg-opacity-10">Холодильник</span>
            <span class="badge-item bg-secondary bg-opacity-10">Стиральная машина</span>
            <span class="badge-item bg-secondary bg-opacity-10">Можно с детьми</span>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <a href="tel:+79265568904" class="btn btn-outline-success btn-sm text-nowrap"><i
                class="bi bi-telephone me-1"></i>+7 926 556-89-04</a>
            <div class="small text-muted ms-2">Опубликовано: 08.10.2022</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse text-bg-light" id="collapseApartDetail2">
    <div class="row">
      <div class="col-md order-2 order-sm-1">
        <div class="d-flex flex-column p-3">
          <p class="mb-1 fw-semibold">Описание</p>
          <p class="small text-secondary">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel,
            doloribus accusamus vitae debitis velit sit iure dolores maxime inventore repellendus
            explicabo aliquam voluptatem quia quisquam harum saepe blanditiis. Sequi, nostrum. Lorem ipsum
            dolor sit amet consectetur, adipisicing elit. Vel, doloribus accusamus vitae debitis velit sit
            iure dolores
            maxime inventore repellendus explicabo aliquam voluptatem quia quisquam harum saepe
            blanditiis. Sequi, nostrum.</p>
          <p class="mb-1 fw-semibold">Прочая информация</p>
          <p>
            <a href="apart_detail_view.html" class="btn btn-outline-secondary btn-sm mb-2"><i
                class="bi bi-images me-1"></i>Фото-отчёт</a>
            <a href="apart_detail_view.html" class="btn btn-outline-secondary btn-sm mb-2"><i
                class="bi bi-images me-1"></i>Имущество в квартире</a>
            <a href="apart_detail_view.html" class="btn btn-outline-secondary btn-sm mb-2"><i
                class="bi bi-images me-1"></i>Полезные
              контакты</a>
            <a href="apart_detail_view.html" class="btn btn-outline-secondary btn-sm mb-2"><i
                class="bi bi-images me-1"></i>Соседи</a>
          </p>
          <a href="#collapseApartDetail2" class="d-block small" data-bs-toggle="collapse" role="button"
            aria-expanded="false" aria-controls="collapseApartDetail"><i class="bi bi-x-lg me-1"></i>Закрыть</a>
        </div>
      </div>
      <div class="col-md order-1 order-sm-2 mb-3 mb-sm-0">
        <script type="text/javascript" charset="utf-8" async
          src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A27432cde53b8182ec78926b5ec43fe1a6e492f6745455bcad4a2b15f2b77a97b&amp;width=100%25&amp;height=300&amp;lang=ru_RU&amp;scroll=false"></script>
      </div>
    </div>
  </div>
</div>