<div class="card card-object shadow-sm bg-success bg-gradient bg-opacity-10 border-0 mb-4">
  <form action="">
    <div class="card-body py-3">
      <div class="row mb-3">
        <div class="col-md-6 col-xl-4 mb-3 mb-md-0">
          <div class="btn-group w-100" role="group" aria-label="Basic checkbox toggle button group">
            <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
            <label class="btn btn-outline-secondary btn-sm" for="btncheck1">Студия</label>

            <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
            <label class="btn btn-outline-secondary btn-sm" for="btncheck2">1</label>

            <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
            <label class="btn btn-outline-secondary btn-sm" for="btncheck3">2</label>

            <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
            <label class="btn btn-outline-secondary btn-sm" for="btncheck4">3</label>

            <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
            <label class="btn btn-outline-secondary btn-sm" for="btncheck5">4+</label>
          </div>
        </div>
        <div class="col-6 col-md-3 col-xl-2">
          <input type="text" class="form-control form-control-sm" placeholder="Цена от">
        </div>
        <div class="col-6 col-md-3 col-xl-2">
          <input type="text" class="form-control form-control-sm" placeholder="до">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6 col-md-3 col-xl-2">
          <select name="" id="" class="form-select form-select-sm">
            <option>выбрать страну</option>
            <option selected>Россия</option>
            <option>Беларусь</option>
            <option>Казахстан</option>
            <option>Монголия</option>
          </select>
        </div>
        <div class="col-6 col-md-3 col-xl-2 mb-3 mb-md-0">
          <select name="" id="" class="form-select form-select-sm">
            <option selected>выбрать город</option>
            <option>Москва</option>
            <option>Санкт-Петербург</option>
            <option>Домодедово</option>
            <option>Подольск</option>
          </select>
        </div>
        <div class="col-sm-6 col-lg-3 col-xl-2 mb-3 mb-xl-0">
          <select name="" id="" class="form-select form-select-sm">
            <option selected>язык арендодателя</option>
            <option>Русский</option>
            <option>English</option>
            <option>Français</option>
            <option>Deutsch</option>
          </select>
        </div>
        <div class="col-md-6 col-xl-4">
          <input type="text" class="form-control form-control-sm" placeholder="Улица, дом">
        </div>
      </div>
      <div class="d-flex flex-wrap">
        <div class="mb-2 me-2">
          <input type="checkbox" class="btn-check" id="btn-check-1" autocomplete="off">
          <label class="btn btn-outline-secondary btn-sm" for="btn-check-1">Интернет</label>
        </div>

        <div class="mb-2 me-2">
          <input type="checkbox" class="btn-check" id="btn-check-2" autocomplete="off">
          <label class="btn btn-outline-secondary btn-sm" for="btn-check-2">Мебель на кухне</label>
        </div>

        <div class="mb-2 me-2">
          <input type="checkbox" class="btn-check" id="btn-check-3" autocomplete="off">
          <label class="btn btn-outline-secondary btn-sm" for="btn-check-3">Мебель в квартире</label>
        </div>

        <div class="mb-2 me-2">
          <input type="checkbox" class="btn-check" id="btn-check-4" autocomplete="off">
          <label class="btn btn-outline-secondary btn-sm" for="btn-check-4">Телевизор</label>
        </div>

        <div class="mb-2 me-2">
          <input type="checkbox" class="btn-check" id="btn-check-5" autocomplete="off">
          <label class="btn btn-outline-secondary btn-sm" for="btn-check-5">Стиральная машина</label>
        </div>

        <div class="mb-2 me-2">
          <input type="checkbox" class="btn-check" id="btn-check-7" autocomplete="off">
          <label class="btn btn-outline-secondary btn-sm" for="btn-check-7">Холодильник</label>
        </div>

        <div class="mb-2 me-2">
          <input type="checkbox" class="btn-check" id="btn-check-8" autocomplete="off">
          <label class="btn btn-outline-secondary btn-sm" for="btn-check-8">Можно с животными</label>
        </div>

        <div class="mb-2 me-2">
          <input type="checkbox" class="btn-check" id="btn-check-9" autocomplete="off">
          <label class="btn btn-outline-secondary btn-sm" for="btn-check-9">Можно с детьми</label>
        </div>
      </div>
      <!-- <a href="#collapseObjFilter" data-bs-toggle="collapse" role="button" aria-expanded="false"
                aria-controls="collapseObjFilter">Больше информации<i class="bi bi-chevron-down ms-1"></i></a>
              <div class="collapse" id="collapseObjFilter">
                <div class="py-3">
                  <input type="checkbox" class="btn-check" id="btn-check-1" autocomplete="off">
                  <label class="btn btn-outline-secondary btn-sm" for="btn-check-1">Интернет</label>

                  <input type="checkbox" class="btn-check" id="btn-check-2" autocomplete="off">
                  <label class="btn btn-outline-secondary btn-sm" for="btn-check-2">Мебель на кухне</label>

                  <input type="checkbox" class="btn-check" id="btn-check-3" autocomplete="off">
                  <label class="btn btn-outline-secondary btn-sm" for="btn-check-3">Мебель в квартире</label>

                  <input type="checkbox" class="btn-check" id="btn-check-4" autocomplete="off">
                  <label class="btn btn-outline-secondary btn-sm" for="btn-check-4">Телевизор</label>

                  <input type="checkbox" class="btn-check" id="btn-check-5" autocomplete="off">
                  <label class="btn btn-outline-secondary btn-sm" for="btn-check-5">Стиральная машина</label>

                  <input type="checkbox" class="btn-check" id="btn-check-7" autocomplete="off">
                  <label class="btn btn-outline-secondary btn-sm" for="btn-check-7">Холодильник</label>

                  <input type="checkbox" class="btn-check" id="btn-check-8" autocomplete="off">
                  <label class="btn btn-outline-secondary btn-sm" for="btn-check-8">Можно с животными</label>

                  <input type="checkbox" class="btn-check" id="btn-check-9" autocomplete="off">
                  <label class="btn btn-outline-secondary btn-sm" for="btn-check-9">Можно с детьми</label>
                </div>
                <a href="#collapseObjFilter" data-bs-toggle="collapse" role="button" aria-expanded="true"
                  aria-controls="collapseObjFilter">Свернуть<i class="bi bi-chevron-up ms-1"></i></a>
              </div> -->

      <!-- <div class="card-object-footer">
                <div class="left-actions mb-2 mb-sm-0">
                  <button type="submit" class="btn btn-success">Показать 3 объекта</button>
                  <button type="submit" class="btn btn-outline-success"><i class="bi bi-geo-alt-fill me-1"></i>Показать на карте</button>
                </div>
                <div class="right-actions">
                  <a href="#collapseObjInProp" data-bs-toggle="collapse" role="button" aria-expanded="false"
                  aria-controls="collapseObjInProp">Больше информации<i class="bi bi-chevron-down ms-1"></i></a>
                </div>
              </div> -->


    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-success btn-sm">Показать 3 объекта</button>
      <!-- <button type="submit" class="btn btn-outline-success"><i class="bi bi-geo-alt-fill me-1"></i>Показать на карте</button> -->
    </div>
  </form>
</div>
