<footer class="mt-auto">
  <div class="container">
    <div class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom border-secondary pb-3 mb-3">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Квартиры</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Управление квартирами</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">О системе</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="contacts.html">Контакты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="forum.html">Форум</a>
        </li>
      </ul>
      <p class="text-center">© 2022, rent-pult.ru</p>
    </div>
  </div>
</footer>
