<footer class="mt-auto">
  <div class="container">
    <div class="py-1 my-2">
      <ul class="nav justify-content-center border-bottom border-secondary pb-3 mb-3">
        <li class="nav-item">
          <a class="nav-link" href="index.html">О системе</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://rent-pult.ru/map/">Карта ДУ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="apartments.html">Квартиры</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="user_profile_compact.html">Управление</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="payment_admin.html">Админка</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="contacts.html">Контакты</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="https://rent-pult.ru/forum/">Форум</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://rent-pult.ru/about/">Справочник</a>
        </li>
      </ul>
      <p class="text-center">© 2022, rent-pult.ru</p>
    </div>
  </div>
</footer>