<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RENT-PULT.RU - система управления арендой</title>
  <!-- favicon.ico -->
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
  <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <!-- end favicon.ico -->
  <!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet"> -->
  <link rel="prefetch" href="fonts/OpenSans/OpenSans-Light.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="prefetch" href="fonts/OpenSans/OpenSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="prefetch" href="fonts/OpenSans/OpenSans-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="prefetch" href="fonts/OpenSans/OpenSans-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" href="css/fancybox/fancybox.css">
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">

  <script defer src="js/main.js"></script>
</head>
