<div class="card card-object shadow-sm bg-success bg-gradient bg-opacity-10 border-0 mb-4">
  <form action="">
    <div class="card-body py-3">
      <div class="row mb-3">
        <div class="col-auto mb-3 mb-md-0">
          <select name="" id="" class="form-select form-select-sm">
            <option selected>выбрать город</option>
            <option>Москва</option>
            <option>Санкт-Петербург</option>
            <option>Домодедово</option>
            <option>Подольск</option>
          </select>
        </div>
        <div class="col-auto mb-3 mb-md-0">
          <a href="#" class="btn btn-success btn-sm" title="Добавить город" data-bs-toggle="modal" data-bs-target="#modalAddCity"><i class="bi bi-plus-lg"></i></a>
        </div>
        <div class="col-md-6 col-xl-3">
          <input type="text" class="form-control form-control-sm" placeholder="ФИО">
        </div>
      </div>
      <div class="d-flex flex-wrap">
        <div class="mb-2 me-2">
          <input type="checkbox" class="btn-check" id="btn-check-1" autocomplete="off">
          <label class="btn btn-outline-secondary btn-sm" for="btn-check-1">Сантехник</label>
        </div>

        <div class="mb-2 me-2">
          <input type="checkbox" class="btn-check" id="btn-check-2" autocomplete="off">
          <label class="btn btn-outline-secondary btn-sm" for="btn-check-2">Электрик</label>
        </div>

        <div class="mb-2 me-2">
          <input type="checkbox" class="btn-check" id="btn-check-3" autocomplete="off">
          <label class="btn btn-outline-secondary btn-sm" for="btn-check-3">Интернет</label>
        </div>

        <div class="mb-2 me-2">
          <input type="checkbox" class="btn-check" id="btn-check-4" autocomplete="off">
          <label class="btn btn-outline-secondary btn-sm" for="btn-check-4">Клининг</label>
        </div>

        <div class="mb-2 me-2">
          <input type="checkbox" class="btn-check" id="btn-check-5" autocomplete="off">
          <label class="btn btn-outline-secondary btn-sm" for="btn-check-5">Услуга</label>
        </div>

        <div class="mb-2 me-2">
          <input type="checkbox" class="btn-check" id="btn-check-7" autocomplete="off">
          <label class="btn btn-outline-secondary btn-sm" for="btn-check-7">Услуга</label>
        </div>
      </div>

    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-success btn-sm mb-2 mb-sm-0">Показать специалистов</button>
      <a href="" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#modalAddSpecialist">Я сам специалист</a>
    </div>
  </form>
</div>