<div class="modal fade" id="modalCountrySettings" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Добавить страну</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="">
        <div class="modal-body small">
          <div class="mb-3">
            <label for="nameCountry" class="form-label">Название страны</label>
            <input type="text" class="form-control form-control-sm" id="nameCountry">
          </div>
          <label for="pause" class="form-label">Допустимое время отправки по времени сервера</label>
          <div class="row mb-3">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <input type="text" class="form-control form-control-sm" id="pauseFrom" placeholder="от">
            </div>
            <div class="col-sm-6">
              <input type="text" class="form-control form-control-sm" id="pauseTo" placeholder="до">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>