<div class="modal fade" id="modalLangSettings" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Добавить язык</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="">
        <div class="modal-body small">
          <div class="row mb-3">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <label for="fullNameLang" class="form-label">Полностью</label>
              <input type="text" class="form-control form-control-sm" id="fullNameLang">
            </div>
            <div class="col-sm-6">
              <label for="smallNameLang" class="form-label">Сокращенно</label>
              <input type="text" class="form-control form-control-sm" id="smallNameLang">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>
