<div class="modal fade" id="modalChangeEmail" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Задать e-mail</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="mb-3">
            <label for="selectEmail" class="form-label">E-mail</label>
            <select name="selectEmail" id="selectEmail" class="form-select">
              <option selected="">выбрать</option>
              <option>Eroshenkov@gmail.com</option>
              <option>kir-ero@mail.ru</option>
              <option>kir-ero@yandex.ru</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>