<div class="modal fade" id="modalChangeCountry" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Задать страну</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="mb-3">
            <label for="countryChain" class="form-label">Страна</label>
            <select name="countryChain" id="countryChain" class="form-select">
              <option selected="">выбрать</option>
              <option>Россия</option>
              <option>Германия</option>
              <option>Франция</option>
              <option>Испания</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>