<div class="modal fade" id="modalChangeStatus" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Задать статус</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="mb-3">
            <div class="btn-group btn-group-sm" role="group" aria-label="status_play_stop">
              <input type="radio" class="btn-check" name="stausLetter" id="play" autocomplete="off" checked="">
              <label class="btn btn-outline-secondary" for="play"><i class="bi bi-play-fill"></i> Play</label>

              <input type="radio" class="btn-check" name="stausLetter" id="stop" autocomplete="off">
              <label class="btn btn-outline-secondary" for="stop"><i class="bi bi-stop-fill"></i> Stop</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>