<div class="modal fade" id="modalChangeChain" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Задать цепочку</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="mb-3">
            <label for="chain" class="form-label">Цепочка</label>
            <select name="chain" id="chain" class="form-select">
              <option selected="">выбрать</option>
              <option>рус-1</option>
              <option>рус-2</option>
              <option>фр-1</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>