<nav class="navbar-object navbar-expand-lg bg-light shadow-sm">
  <div class="container">
    <a href="#" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarDogovor"
      aria-controls="navbarDogovor" aria-expanded="false" aria-label="Toggle navigation">
      <span class="text-primary fs-3">Меню объекта</span>
      <div>
        <i class="bi bi-list text-primary fs-2"></i>
      </div>
    </a>

    <div class="collapse navbar-collapse" id="navbarDogovor" role="tablist">
      <ul class="navbar-nav">
        <!-- <p class="mb-0 fs-5 py-2 mb-2 border-bottom w-100">Общие сведения</p> -->
        <li class="nav-item">
          <a class="nav-link active" href="#reading-counters" id="reading-counters-list" data-bs-toggle="list"
            role="tab" aria-controls="reading-counters">Арендодатель</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#payment-bills" id="payment-bills-list" data-bs-toggle="list" role="tab"
            aria-controls="payment-bills">Арендатор</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#general-communal-services" id="general-communal-services-list"
            data-bs-toggle="list" role="tab" aria-controls="general-communal-services">Объект аренды</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#exp-communal-services" id="exp-communal-services-list" data-bs-toggle="list"
            role="tab" aria-controls="exp-communal-services">Эксплуатация</a>
        </li>

        <li class="nav-item d-block d-lg-none">
          <a href="#" class="float-end" data-bs-toggle="collapse" data-bs-target="#navbarDogovor"
            aria-controls="navbarDogovor" aria-expanded="false" aria-label="Toggle navigation"><i
              class="bi bi-x-lg me-1"></i>Свернуть</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
