<div class="page-title">
  <h1>@pageTitle</h1>
  <!-- @objectAccess -->
  <div class="alert alert-success py-1 mb-1">
    <small class="fw-bold">Доступ до 11.12.2022</small>
    <i class="bi bi-info-circle ms-1" title='Оплатить доступ к функциям управления объектом можно в разделе "Оплата объекта"'></i>
  </div>
  <div class="alert alert-danger py-1 mb-1">
    <small class="fw-bold">Пробный период до 30.10.2022</small>
    <i class="bi bi-info-circle ms-1"
      title='Оплатить доступ к функциям управления объектом можно в разделе "Оплата объекта"'></i>
  </div>
  <!-- <a href="#" class="btn btn-outline-primary btn-sm mt-2 mt-sm-0"><i class="bi bi-arrow-left me-1"></i>Назад</a> -->
</div>
