<div class="card card-object rounded-0">
  <div class="row g-0">
    <div class="d-none d-sm-block col-sm-2 col-xl-1">
      <a href="img/object1.jpg" data-fancybox="gallery-a">
        <img src="img/object1.jpg" class="card-img-object" alt="plug">
      </a>
      <div style="display:none">
        <a href="https://lipsum.app/id/61/1800x1200" data-fancybox="gallery-a">
          <img src="https://lipsum.app/id/61/120x80">
        </a>
        <a href="https://lipsum.app/id/62/1800x1200" data-fancybox="gallery-a">
          <img src="https://lipsum.app/id/62/120x80">
        </a>
        <a href="https://lipsum.app/id/63/1800x1200" data-fancybox="gallery-a">
          <img src="https://lipsum.app/id/63/120x80">
        </a>
      </div>
    </div>
    <div class="col-sm">
      <div class="card-object-content">
        <div class="card-title">
          <!-- <a href="#collapseApartDetail" class="text-uppercase fw-semibold mb-1 mb-sm-0" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseApartDetail">42,2 м<sup>2</sup>,
            1-комнатная квартира</a> -->
          <a href="story-detail.html" class="text-uppercase fw-semibold mb-1 mb-sm-0">Домодедово, ул. Мечты, д.3к3, 2-й этаж</a>
          <div class="text-success text-nowrap me-2">
            <span class="text-success text-nowrap me-2">ID:00001</span>
            <span class="small text-muted">Опубликовано: 08.10.2022</span>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 mb-3 mb-md-0">
              <div class="d-flex align-items-start mb-2">
                <img src="img/avatar.png" class="img-fluid me-2" alt="avatar" style="max-width: 80px; object-fit: contain;">
                <div>
                  <p class="text-secondary mb-1">Собственник:</p>
                  <p class="h6 mb-2">Иванов Иван Иванович<span class="badge text-bg-warning ms-2">4.5</span></p>
                </div>
              </div>
              <div>
                <p class="text-secondary mb-1">Отзыв:</p>
                <p class="text-small mb-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia a reiciendis eum, libero quo delectus.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex align-items-start mb-2">
                <img src="img/avatar.png" class="img-fluid me-2" alt="avatar" style="max-width: 80px; object-fit: contain;">
                <div>
                  <p class="text-secondary mb-1">Арендатор:</p>
                  <p class="h6 mb-2">Петров Иван Иванович<span class="badge text-bg-warning ms-2">4.5</span></p>
                </div>
              </div>
              <div>
                <p class="text-secondary mb-1">Отзыв:</p>
                <p class="text-small mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati qui natus praesentium, ab vitae et, quos saepe voluptatibus aspernatur velit quo rem inventore, fugit quae?</p>
              </div>
            </div>
          </div>
          <!-- <div class="d-flex align-items-center justify-content-between">
            <a href="tel:+79265568904" class="btn btn-outline-success btn-sm text-nowrap"><i class="bi bi-telephone me-1"></i>+7 926 556-89-04</a>
            <div class="small text-muted ms-2">Опубликовано: 08.10.2022</div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="collapse text-bg-light" id="collapseApartDetail">
    <div class="row">
      <div class="col-md order-2 order-sm-1">
        <div class="d-flex flex-column p-3">
          <p class="mb-1 fw-semibold">Описание</p>
          <p class="small text-secondary">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel,
            doloribus accusamus vitae debitis velit sit iure dolores maxime inventore repellendus
            explicabo aliquam voluptatem quia quisquam harum saepe blanditiis. Sequi, nostrum. Lorem ipsum
            dolor sit amet consectetur, adipisicing elit. Vel, doloribus accusamus vitae debitis velit sit
            iure dolores
            maxime inventore repellendus explicabo aliquam voluptatem quia quisquam harum saepe
            blanditiis. Sequi, nostrum.</p>
          <p class="mb-1 fw-semibold">Прочая информация</p>
          <p>
            <a href="apart_detail_view.html" class="btn btn-outline-secondary btn-sm mb-2"><i class="bi bi-images me-1"></i>Фотоотчёт</a>
            <a href="apart_detail_view.html" class="btn btn-outline-secondary btn-sm mb-2"><i class="bi bi-images me-1"></i>Имущество в квартире</a>
            <a href="apart_detail_view.html" class="btn btn-outline-secondary btn-sm mb-2"><i class="bi bi-images me-1"></i>Полезные контакты</a>
            <a href="apart_detail_view.html" class="btn btn-outline-secondary btn-sm mb-2"><i class="bi bi-images me-1"></i>Соседи</a>
          </p>
          <a href="#collapseApartDetail" class="d-block small" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseApartDetail"><i class="bi bi-x-lg me-1"></i>Закрыть</a>
        </div>
      </div>
      <div class="col-md order-1 order-sm-2 mb-3 mb-sm-0">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A27432cde53b8182ec78926b5ec43fe1a6e492f6745455bcad4a2b15f2b77a97b&amp;width=100%25&amp;height=300&amp;lang=ru_RU&amp;scroll=false"></script>
      </div>
    </div>
  </div> -->
</div>