<div class="card card-object shadow-sm bg-success bg-gradient bg-opacity-10 border-0 mb-4">
  <form action="">
    <div class="card-body py-3">

      <div class="row mb-3">
        <div class="col-6 col-md-4 mb-3 mb-md-0">
          <select name="" id="" class="form-select form-select-sm">
            <option selected="">выбрать цепочку</option>
            <option>Новая цепочка</option>
            <option>Первая цепочка сообщений</option>
            <option>Вторая цепочка сообщений</option>
            <option>Ещё цепочка сообщений</option>
          </select>
        </div>
        <div class="col-6 col-md-3 col-xl-2 mb-3 mb-md-0">
          <select name="" id="" class="form-select form-select-sm">
            <option selected="">выбрать язык</option>
            <option>ENG</option>
            <option>RUS</option>
            <option>ESP</option>
            <option>FRA</option>
            <option>GER</option>
            <option>CHN</option>
            <option>ARA</option>
          </select>
        </div>
        <!-- <div class="col-6 col-md-3 col-xl-2 mb-3 mb-md-0">
          <input type="text" class="form-control form-control-sm" placeholder="№ цепочки">
        </div> -->
      </div>
      <div class="row mb-3">
        <div class="col-6 col-md-3 col-xl-2 mb-3 mb-md-0">
          <input type="date" class="form-control form-control-sm" placeholder="от">
        </div>
        <div class="col-6 col-md-3 col-xl-2">
          <input type="date" class="form-control form-control-sm" placeholder="до">
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-success btn-sm">Показать 3 сообщения</button>
      <!-- <button type="submit" class="btn btn-outline-success"><i class="bi bi-geo-alt-fill me-1"></i>Показать на карте</button> -->
    </div>
  </form>
</div>