<div class="modal modal-main fade" id="modalLetterNew" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="h5 modal-title">Добавить письмо</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="mb-3">
            <div class="mb-3">
              <label for="nameLetter" class="form-label">Название</label>
              <input type="text" class="form-control form-control-sm" id="nameLetter">
            </div>
            <div class="mb-3">
              <label for="variants" class="form-label">Вариантов текста</label>
              <select name="variants" id="variants" class="form-select form-select-sm">
                <option selected="">1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-save me-1"></i>Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>