<nav class="navbar-object navbar-expand-lg bg-light shadow-sm">
  <div class="container">
    <a href="#" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarLetterHandler" aria-controls="navbarObject" aria-expanded="false" aria-label="Toggle navigation">
      <span class="text-primary fs-4">Меню</span>
      <div>
        <i class="bi bi-list text-primary fs-2"></i>
      </div>
    </a>

    <div class="collapse navbar-collapse" id="navbarLetterHandler">
      <ul class="navbar-nav">
        <!-- <p class="mb-0 fs-5 py-2 mb-2 border-bottom w-100">Контакты</p> -->
        <li class="nav-item">
          <a class="nav-link" href="letter_handler.html">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="letter_contacts.html">Контакты</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active" href="letter_contacts.html">Контакты<span class="badge rounded-pill text-bg-danger float-end" title="Новых регистраций">1</span></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="letter_chains.html">Цепочки писем</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="letter_messages.html">Сообщения</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="letter_send.html">Очередь отправки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="letter_custom_actions.html">Настройка действий</a>
        </li>
      </ul>
    </div>
  </div>
</nav>