<div class="card card-object shadow-sm bg-success bg-gradient bg-opacity-10 border-0 mb-5">
  <div class="card-header d-flex flex-wrap align-items-center justify-content-between py-3">
    <div class="fs-4">eroshenkov@gmail.com</div>
    <div class="d-flex align-items-center">
      <div class="text-success text-nowrap me-3">ID: 00001</div>
      <a href="#collapseUserDetail" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseUserDetail">Больше информации<i class="bi bi-chevron-down ms-1"></i></a>
    </div>
  </div>

  <div class="card-body collapse" id="collapseUserDetail">
    <a href="#" class="btn btn-success" role="button" data-bs-toggle="modal" data-bs-target="#modalUserInfo"><i class="bi bi-plus-lg me-1"></i>Добавить данные</a><span class="text-info text-small mb-2"> кнопка есть пока нет данных</span>
    <div class="row mb-3">
      <div class="col-sm-3 col-lg-2 mb-2 mb-sm-0 text-center">
        <img src="img/avatar.png" class="img-fluid" alt="avatar">
      </div>
      <div class="col-sm text-center text-sm-start">
        <h5 class="fw-semibold fs-5">Личные данные</h5>
        <div class="card-text d-flex flex-column flex-sm-row align-items-sm-center mb-2">
          <span class="text-secondary fw-bold me-2">Фамилия Имя Отчество:</span>
          <span class="fs-5">Иванов Иван Иванович</span>
        </div>
        <div class="card-text d-flex flex-column flex-sm-row align-items-sm-center mb-2">
          <span class="text-secondary fw-bold me-2">Дата рождения:</span>
          <span class="fs-5">15.10.1981 г.</span>
        </div>
        <div class="card-text d-flex flex-column flex-sm-row align-items-sm-center mb-2">
          <span class="text-secondary fw-bold me-2">Телефон:</span>
          <span class="fs-5">+7 (926) 133-45-77</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm mb-3 mb-sm-0">
        <a href="#" class="btn btn-outline-success btn-sm" role="button" data-bs-toggle="modal" data-bs-target="#modalUserInfo"><i class="bi bi-pencil me-1"></i>Изменить данные</a>
        <a href="space-detail.html" class="btn btn-outline-success btn-sm" role="button"><i class="bi bi-person me-1"></i>Личное пространство</a>
      </div>
      <div class="col-sm text-sm-end">
        <a href="all-chronology.html" class="btn btn-outline-primary btn-sm" role="button">Вся хронология<i class="bi bi-arrow-right ms-1"></i></a>
        <a href="all-notifications.html" class="btn btn-outline-primary btn-sm" role="button">Все уведомления<i class="bi bi-arrow-right ms-1"></i></a>
      </div>
    </div>
  </div>
</div>
